swagger: "2.0"
info:
  version: "0.59.0"
  title: API for sorghumbase release 11
# basePath prefixes all resource paths
basePath: /sorghum_v11
# public host clients build request URLs against (TLS terminated by apache,
# proxied to the swagger server on squam:50011). For local-only testing,
# override with host: localhost:50011 and add http to schemes below.
host: data.sorghumbase.org
schemes:
  # tip: remove http to make production-grade
  # - http
  - https
# format of bodies a client can send (Content-Type)
consumes:
  - application/json
# format of the responses to the client (Accepts)
produces:
  - application/json
  - application/xml
  - text/plain
  - text/tab-separated-values
paths:
  /gxa:
    x-swagger-router-controller: gxa
    get:
      summary: Redirect to EBI
      operationId: redirectToEbi
      responses:
        301:
          description: Redirecting

  /gxa/json/experiments/{experiment_id}:
    x-swagger-router-controller: gxa
    post:
      summary: "Fetch reference study expression profiles"
      description: "Accepts a list of gene ids and returns gxa response"
      operationId: one_baseline_experiment
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: experiment_id
          in: path
          required: true
          type: string
          description: "The unique ID of an experiment"
        - in: body
          name: geneQuery
          description: list of gene ids
          required: true
          schema:
            type: array
            items:
              type: string
      responses:
        200:
          description: Successful expression response

  /gxa/json/baseline_experiments:
    x-swagger-router-controller: gxa
    post:
      summary: "Fetch baseline expression profiles"
      description: "Accepts a list of gene ids and returns gxa response"
      operationId: baseline_experiments
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: body
          name: geneQuery
          description: list of gene ids
          required: true
          schema:
            type: array
            items:
              type: string
      responses:
        200:
          description: Successful expression response

  /docs:
    get:
      summary: "Web site describing this API"
      tags:
        - "API Documentation"
      responses:
        200:
          description: "HTML documentation for this web service, powered by swagger."
#  /ensembl:
#    get:
#      summary: "Proxy to Gramene's Ensembl REST installation"
#      description: "Please refer to rest.ensembl.org for documentation\n"
#      tags:
#        - "Ensembl REST"
#      responses:
#        200:
#          description: "Ensembl REST response"
#  /reactome:
#    get:
#      summary: "Proxy to Gramene's Plant Reactome REST API"
#      description: "Reactome RESTful API <a href='http://reactomews.oicr.on.ca:8080/ReactomeRESTfulAPI/ReactomeRESTFulAPI.html'>documentation</a>"
#      tags:
#        - "Plant Reactome REST"
#      responses:
#        200:
#          description: "plant reactome response"
#  /reactome/pathwayHierarchy/{species}:
#    get:
#      summary: "pathway hierarchy"
#      description: "Get the pathway hierarchy for a specified species as displayed in Reactome pathway browser."
#      tags:
#        - "Plant Reactome REST"
#      produces:
#        - "application/xml"
#      responses:
#        200:
#          description: "String - XML text containing pathways and reactions"
#      parameters:
#        -
#          name: "species"
#          in: "path"
#          description: "Full species name that should be encoded for URL (e.g. oryza+sativa, or zea+mays)"
#          type: "string"
#          required: true
  /swagger:
    x-swagger-pipe: swagger_raw

  /search:
    x-swagger-router-controller: solr
    get:
      summary: "Gramene Data"
      operationId: genes
      description: "This is the entry point for searching our solr genes core.\n"
      parameters:
        -
          name: "q"
          in: "query"
          description: "query string."
          required: false
          type: "string"
        -
          name: "fl"
          in: "query"
          description: "List of fields to include in response (default all)."
          required: false
          type: "array"
          items:
            type: "string"
        -
          name: "wt"
          in: "query"
          description: "response format defaults to 'json'."
          enum:
            - "json"
            - "xml"
            - "csv"
            - "bed"
          type: "string"
          required: false
        - 
          name: "facet.field"
          in: "query"
          description: "Facet field parameters"
          required: false
          type: "array"
          items:
            type: "string"
        -
          name: "fq"
          in: "query"
          description: "Filter query parameters"
          required: false
          type: "array"
          items:
            type: "string"
          collectionFormat: "multi"
        -
          name: "json.facet"
          in: "query"
          description: "Supply all facets as a structured document."
          required: false
          type: "string"
        -
          name: "stats.field"
          in: "query"
          description: "Get stats on a given field."
          required: false
          type: "array"
          items:
            type: "string"
          collectionFormat: "multi"
        -
          name: "rows"
          in: "query"
          description: "number of rows to return (default: 20)"
          required: false
          type: "integer"
        -
          name: "start"
          in: "query"
          description: "offset into results list"
          type: "integer"
          required: false
      tags:
        - "Search"
      responses:
        200:
          description: "Gene search response object"
          schema:
            $ref: "#/definitions/SearchResponse"
  /suggest:
    x-swagger-router-controller: solr
    get:
      summary: "Genes"
      operationId: suggestions
      description: "This is the entry point for searching our solr genes core.\n"
      parameters:
        -
          name: "q"
          in: "query"
          description: "query string."
          required: true
          type: "string"
        -
          name: "fq"
          in: "query"
          description: "Filter query parameters"
          required: false
          type: "array"
          items:
            type: "string"
        -
          name: "rows"
          in: "query"
          description: "number of rows to return (default: 20)"
          required: false
          type: "integer"
        -
          name: "start"
          in: "query"
          description: "offset into results list"
          type: "integer"
          required: false
      tags:
        - "Search"
      responses:
        200:
          description: "Suggest response"
          schema:
            $ref: "#/definitions/SolrSuggestResponse"
  /gene_lists:
    x-swagger-router-controller: mongo
    get:
      summary: "Fetch saved lists"
      description: "Fetchs saved lists for a validated user or public lists"
      tags:
        - "User Data"
      operationId: genelists
      parameters:
        - in: query
          name: isPublic
          description: Return public gene lists
          type: boolean
          required: true
        - in: query
          name: site
          description: site identifier
          type: string
          required: true
        -
          name: "rows"
          in: "query"
          description: "number of lists to return (default: 20)"
          required: false
          type: "integer"
        - in: query
          name: includeDeleted
          description: "which lists to return: 'active' (default) or 'trash' (owner's soft-deleted lists)"
          required: false
          type: string
          enum:
            - active
            - trash
      responses:
        200:
          description: Metadata for all personal or public gene lists
        401:
          description: Authorization failed
    post:
      summary: "Save a validated list of IDs"
      description: "Accepts list metadata and upserts to mongo"
      tags:
        - "User Data"
      operationId: saveList
      consumes:
        - application/json
      parameters:
        - in: body
          name: list
          description: "list metadata plus the resolved gene ids. The server derives n_genes and computes the hash."
          required: true
          schema:
            type: object
            required:
              - label
              - site
              - ids
            properties:
              label:
                type: string
                maxLength: 255
              site:
                type: string
                maxLength: 64
              isPublic:
                type: boolean
              ids:
                type: array
                maxItems: 6000
                items:
                  type: string
                  maxLength: 255
      responses:
        200:
          description: "List saved; returns the server-computed hash"
        400:
          description: "Invalid body (missing label/site/ids, too many ids, or a client-supplied hash)"
        401:
          description: Authorization failed
    delete:
      summary: "Delete a saved gene list"
      description: "Deletes a gene list owned by the authenticated user"
      tags:
        - "User Data"
      operationId: deleteList
      parameters:
        - in: query
          name: listId
          description: id of the gene list to delete
          type: string
          required: true
        - in: query
          name: force
          description: "if true, permanently delete now instead of the 30-day soft delete"
          type: boolean
          required: false
      responses:
        200:
          description: List deleted (soft by default; permanent if force=true)
        401:
          description: Authorization failed
        404:
          description: List not found or not owned by user
    patch:
      summary: "Update a saved gene list"
      description: "Updates label and/or isPublic on a gene list owned by the authenticated user"
      tags:
        - "User Data"
      operationId: updateList
      consumes:
        - application/json
      parameters:
        - in: query
          name: listId
          description: id of the gene list to update
          type: string
          required: true
        - in: body
          name: updates
          description: fields to update
          required: true
          schema:
            type: object
            properties:
              label:
                type: string
              isPublic:
                type: boolean
      responses:
        200:
          description: List updated
        400:
          description: No valid fields to update
        401:
          description: Authorization failed
        404:
          description: List not found or not owned by user
  /gene_lists/restore:
    x-swagger-router-controller: mongo
    post:
      summary: "Restore a soft-deleted gene list"
      description: "Un-marks a soft-deleted gene list (clears deletedAt) for its owner, within the 30-day window"
      tags:
        - "User Data"
      operationId: restoreList
      parameters:
        - in: query
          name: listId
          description: id of the gene list to restore
          type: string
          required: true
      responses:
        200:
          description: List restored
        401:
          description: Authorization failed
        404:
          description: No deleted list to restore (already purged or not owned)
  /gene_lists/validate:
    x-swagger-router-controller: solr
    post:
      summary: "Validate a list of IDs"
      description: "Accepts a list of IDs and returns validation results"
      tags:
        - "User Data"
      operationId: validate
      consumes:
        - application/json
      parameters:
        - in: body
          name: ids
          description: "list of gene identifiers; stable ids and alternate ids are both accepted"
          required: true
          schema:
            type: array
            maxItems: 6000
            items:
              type: string
              maxLength: 255
      responses:
        200:
          description: Successful validation response
  /saved_views:
    x-swagger-router-controller: mongo
    get:
      summary: "Fetch saved view snapshots"
      description: |
        Two modes:
          1. ?hash=H — single-doc lookup by share token. Returns the row if
             it's public; if not public, requires the Bearer token of the
             owner.
          2. ?site=S&isPublic=B — listing. Public listings are anonymous-OK;
             private listings require an authenticated Bearer token and are
             scoped to that user's own rows.
      tags:
        - "User Data"
      operationId: savedviews
      parameters:
        - in: query
          name: hash
          description: share-token lookup for a single saved view
          type: string
          required: false
        - in: query
          name: site
          description: site identifier (listing mode)
          type: string
          required: false
        - in: query
          name: isPublic
          description: return public saved views (listing mode)
          type: boolean
          required: false
        - in: query
          name: rows
          description: "number of rows to return in listing mode (default: 20)"
          type: integer
          required: false
      responses:
        200:
          description: Single saved view (hash mode) or array of metadata (listing mode)
        401:
          description: Authorization failed
        404:
          description: Saved view not found
    post:
      summary: "Save a view snapshot"
      description: "Upserts the snapshot keyed by hash+uid. Existing createdAt is preserved on re-save."
      tags:
        - "User Data"
      operationId: saveView
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          description: snapshot metadata + state
          required: true
          schema:
            type: object
            required:
              - hash
              - label
              - site
              - isPublic
              - state
            properties:
              hash:
                type: string
                description: short content-addressable share token
              label:
                type: string
              description:
                type: string
              site:
                type: string
              isPublic:
                type: boolean
              state:
                type: object
                description: the snapshot JSON blob (schema versioned client-side)
                additionalProperties: true
      responses:
        200:
          description: View saved
        401:
          description: Authorization failed
    patch:
      summary: "Update a saved view's label/visibility"
      description: "label and/or isPublic only — the snapshot itself is immutable; a re-save with new state produces a new hash."
      tags:
        - "User Data"
      operationId: updateView
      consumes:
        - application/json
      parameters:
        - in: query
          name: viewId
          description: internal id of the saved view to update
          type: string
          required: true
        - in: body
          name: updates
          description: fields to update
          required: true
          schema:
            type: object
            properties:
              label:
                type: string
              isPublic:
                type: boolean
      responses:
        200:
          description: View updated
        400:
          description: No valid fields to update
        401:
          description: Authorization failed
        404:
          description: View not found or not owned by user
    delete:
      summary: "Delete a saved view"
      description: "Owner-only."
      tags:
        - "User Data"
      operationId: deleteView
      parameters:
        - in: query
          name: viewId
          description: internal id of the saved view to delete
          type: string
          required: true
      responses:
        200:
          description: View deleted
        401:
          description: Authorization failed
        404:
          description: View not found or not owned by user

  /genes:
    x-swagger-router-controller: mongo
    get:
      summary: "MongoDB"
      operationId: genes
      description: "Fetch documents from a collection"
      parameters:
        - $ref: "#/parameters/q"
        - $ref: "#/parameters/rows"
        - $ref: "#/parameters/start"
        - $ref: "#/parameters/fl"
        - $ref: "#/parameters/wt"
        - $ref: "#/parameters/idList"
        - $ref: "#/parameters/bedFeature"
        - $ref: "#/parameters/bedCombiner"
        - $ref: "#/parameters/taxon_id"
        - $ref: "#/parameters/db_type"
      tags:
        - "Data access"
      responses:
        200:
          description: "MongoDB response object"
          schema:
            $ref: "#/definitions/MongoGenesResponse"
  /genetrees:
    x-swagger-router-controller: mongo
    get:
      summary: "MongoDB"
      operationId: genetrees
      description: "Fetch documents from a collection"
      parameters:
        - $ref: "#/parameters/q"
        - $ref: "#/parameters/rows"
        - $ref: "#/parameters/start"
        - $ref: "#/parameters/fl"
        - $ref: "#/parameters/wt"
        - $ref: "#/parameters/idList"
      tags:
        - "Data access"
      responses:
        200:
          description: "MongoDB response object"
          schema:
            $ref: "#/definitions/MongoGenetreesResponse"
  /maps:
    x-swagger-router-controller: mongo
    get:
      summary: "MongoDB"
      operationId: maps
      description: "Fetch documents from a collection"
      parameters:
        - $ref: "#/parameters/q"
        - $ref: "#/parameters/rows"
        - $ref: "#/parameters/start"
        - $ref: "#/parameters/fl"
        - $ref: "#/parameters/wt"
        - $ref: "#/parameters/idList"
      tags:
        - "Data access"
      responses:
        200:
          description: "MongoDB response object"
          schema:
            $ref: "#/definitions/MongoMapsResponse"
  /domains:
    x-swagger-router-controller: mongo
    get:
      summary: "MongoDB"
      operationId: domains
      description: "Fetch documents from a collection"
      parameters:
        - $ref: "#/parameters/q"
        - $ref: "#/parameters/rows"
        - $ref: "#/parameters/start"
        - $ref: "#/parameters/fl"
        - $ref: "#/parameters/wt"
        - $ref: "#/parameters/idList"
      tags:
        - "Data access"
      responses:
        200:
          description: "MongoDB response object"
          schema:
            $ref: "#/definitions/InterProResponse"
  /taxonomy:
    x-swagger-router-controller: mongo
    get:
      summary: "MongoDB"
      operationId: taxonomy
      description: "Fetch documents from a collection"
      parameters:
        - $ref: "#/parameters/q"
        - $ref: "#/parameters/rows"
        - $ref: "#/parameters/start"
        - $ref: "#/parameters/fl"
        - $ref: "#/parameters/wt"
        - $ref: "#/parameters/idList"
        - $ref: "#/parameters/subset"
      tags:
        - "Data access"
      responses:
        200:
          description: "MongoDB response object"
          schema:
            $ref: "#/definitions/TaxonomyResponse"
  /GO:
    x-swagger-router-controller: mongo
    get:
      summary: "MongoDB"
      operationId: GO
      description: "Fetch documents from a collection"
      parameters:
        - $ref: "#/parameters/q"
        - $ref: "#/parameters/rows"
        - $ref: "#/parameters/start"
        - $ref: "#/parameters/fl"
        - $ref: "#/parameters/wt"
        - $ref: "#/parameters/idList"
      tags:
        - "Data access"
      responses:
        200:
          description: "MongoDB response object"
          schema:
            $ref: "#/definitions/OntologyResponse"
  /PO:
    x-swagger-router-controller: mongo
    get:
      summary: "MongoDB"
      operationId: PO
      description: "Fetch documents from a collection"
      parameters:
        - $ref: "#/parameters/q"
        - $ref: "#/parameters/rows"
        - $ref: "#/parameters/start"
        - $ref: "#/parameters/fl"
        - $ref: "#/parameters/wt"
        - $ref: "#/parameters/idList"
      tags:
        - "Data access"
      responses:
        200:
          description: "MongoDB response object"
          schema:
            $ref: "#/definitions/OntologyResponse"
  /TO:
    x-swagger-router-controller: mongo
    get:
      summary: "MongoDB"
      operationId: TO
      description: "Fetch documents from a collection"
      parameters:
        - $ref: "#/parameters/q"
        - $ref: "#/parameters/rows"
        - $ref: "#/parameters/start"
        - $ref: "#/parameters/fl"
        - $ref: "#/parameters/wt"
        - $ref: "#/parameters/idList"
      tags:
        - "Data access"
      responses:
        200:
          description: "MongoDB response object"
          schema:
            $ref: "#/definitions/OntologyResponse"
  /qtls:
    x-swagger-router-controller: mongo
    get:
      summary: "MongoDB"
      operationId: qtls
      description: "Fetch documents from a collection"
      parameters:
        - $ref: "#/parameters/q"
        - $ref: "#/parameters/rows"
        - $ref: "#/parameters/start"
        - $ref: "#/parameters/fl"
        - $ref: "#/parameters/wt"
        - $ref: "#/parameters/idList"
      tags:
        - "Data access"
      responses:
        200:
          description: "MongoDB response object"
          schema:
            $ref: "#/definitions/OntologyResponse"
  /pathways:
    x-swagger-router-controller: mongo
    get:
      summary: "MongoDB"
      operationId: pathways
      description: "Fetch documents from a collection"
      parameters:
        - $ref: "#/parameters/q"
        - $ref: "#/parameters/rows"
        - $ref: "#/parameters/start"
        - $ref: "#/parameters/fl"
        - $ref: "#/parameters/wt"
        - $ref: "#/parameters/idList"
      tags:
        - "Data access"
      responses:
        200:
          description: "MongoDB response object"
          schema:
            $ref: "#/definitions/ReactomeEntityResponse"
  /expression:
    x-swagger-router-controller: mongo
    get:
      summary: "MongoDB"
      operationId: expression
      description: "Fetch expression data"
      parameters:
        - $ref: "#/parameters/q"
        - $ref: "#/parameters/rows"
        - $ref: "#/parameters/start"
        - $ref: "#/parameters/fl"
        - $ref: "#/parameters/wt"
        - $ref: "#/parameters/idList"
      tags:
        - "Data access"
      responses:
        200:
          description: "MongoDB response object"
  /expression_attributes:
    x-swagger-router-controller: mongo
    get:
      summary: "MongoDB"
      operationId: expression_attributes
      description: "Fetch per-gene expression summary attributes"
      parameters:
        - $ref: "#/parameters/q"
        - $ref: "#/parameters/taxon_id"
        - $ref: "#/parameters/rows"
        - $ref: "#/parameters/start"
        - $ref: "#/parameters/fl"
        - $ref: "#/parameters/wt"
        - $ref: "#/parameters/idList"
      tags:
        - "Data access"
      responses:
        200:
          description: "MongoDB response object"
  /assays:
    x-swagger-router-controller: mongo
    get:
      summary: "MongoDB"
      operationId: assays
      description: "Fetch documents from a collection"
      parameters:
        - $ref: "#/parameters/q"
        - $ref: "#/parameters/taxon_id"
        - $ref: "#/parameters/rows"
        - $ref: "#/parameters/start"
        - $ref: "#/parameters/fl"
        - $ref: "#/parameters/wt"
        - $ref: "#/parameters/idList"
      tags:
        - "Data access"
      responses:
        200:
          description: "MongoDB response object"
  /experiments:
    x-swagger-router-controller: mongo
    get:
      summary: "MongoDB"
      operationId: experiments
      description: "Fetch documents from a collection"
      parameters:
        - $ref: "#/parameters/q"
        - $ref: "#/parameters/taxon_id"
        - $ref: "#/parameters/rows"
        - $ref: "#/parameters/start"
        - $ref: "#/parameters/fl"
        - $ref: "#/parameters/wt"
        - $ref: "#/parameters/idList"
      tags:
        - "Data access"
      responses:
        200:
          description: "MongoDB response object"
  /germplasm:
    x-swagger-router-controller: mongo
    get:
      summary: "MongoDB"
      operationId: germplasm
      description: "Fetch documents from a collection"
      parameters:
        - $ref: "#/parameters/q"
        - $ref: "#/parameters/rows"
        - $ref: "#/parameters/start"
        - $ref: "#/parameters/fl"
        - $ref: "#/parameters/wt"
        - $ref: "#/parameters/idList"
      tags:
        - "Data access"
      responses:
        200:
          description: "MongoDB response object"

  # Primer design (docs/primer_design_api.md). These must stay before /{collection}.
  /primers/design:
    x-swagger-router-controller: primers
    post:
      summary: "Design PCR or qPCR primers"
      description: "Synchronous Primer3 2.6.1 design on a gene (with flanks), a spliced transcript (junction-spanning qPCR), a genomic region or a pasted sequence. Template coordinates are 1-based inclusive; intervals are [start, length]. Requires Content-Type: application/json. Every response is Cache-Control: no-store."
      operationId: designPrimers
      tags:
        - "Primer design"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: "design request; mode-specific required fields are checked by the handler"
          required: true
          schema:
            $ref: "#/definitions/PrimerDesignRequest"
      responses:
        200:
          description: "Template, primer pairs (possibly none, with warning NO_PAIRS), Primer3 explain counts, effective settings and warnings"
          schema:
            $ref: "#/definitions/PrimerDesignResponse"
        400:
          description: "Swagger validation errors ({message: 'Validation errors', errors[]}, e.g. INVALID_CONTENT_TYPE) or INVALID_REQUEST, INVALID_PARAMS, INVALID_SEQUENCE, TEMPLATE_TOO_LONG, REGION_OUT_OF_BOUNDS, INTERVAL_OUT_OF_BOUNDS, SYSTEM_NAME_MISMATCH, PRIMER3_INPUT_ERROR"
          schema:
            $ref: "#/definitions/PrimerError"
        404:
          description: "UNKNOWN_GENE, UNKNOWN_TRANSCRIPT, UNKNOWN_GENOME, UNKNOWN_REGION"
          schema:
            $ref: "#/definitions/PrimerError"
        413:
          description: "Request body larger than 100 kb"
        422:
          description: "NO_SEQUENCE, AMBIGUOUS_ASSEMBLY"
          schema:
            $ref: "#/definitions/PrimerError"
        500:
          description: "PRIMER3_FAILED, GENE_STRUCTURE_MISMATCH, INTERNAL"
          schema:
            $ref: "#/definitions/PrimerError"
        503:
          description: "BUSY, PRIMER3_UNAVAILABLE, FEATURE_DISABLED, MONGO_UNAVAILABLE; details.retry_after_s and a Retry-After header"
          schema:
            $ref: "#/definitions/PrimerError"
        504:
          description: "DEADLINE_EXCEEDED (45 s in total, 30 s for Primer3)"
          schema:
            $ref: "#/definitions/PrimerError"

  /primers/genomes:
    x-swagger-router-controller: primers
    get:
      summary: "Genomes of the same species, with sequence, BLAST database and repeat-masking availability"
      description: "The query genome first, then the other genomes of its species (first taxonomy ancestor of rank species) by display name. No filesystem paths are returned."
      operationId: primerGenomes
      tags:
        - "Primer design"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: system_name
          description: "query genome, e.g. sorghum_bicolor"
          required: true
          type: string
          pattern: "^[a-z0-9_]+$"
          maxLength: 128
      responses:
        200:
          description: "species, counts and genomes"
          schema:
            $ref: "#/definitions/PrimerGenomesResponse"
        400:
          description: "Swagger validation errors (missing or malformed system_name)"
          schema:
            $ref: "#/definitions/PrimerError"
        404:
          description: "UNKNOWN_GENOME"
          schema:
            $ref: "#/definitions/PrimerError"
        503:
          description: "MONGO_UNAVAILABLE, FEATURE_DISABLED"
          schema:
            $ref: "#/definitions/PrimerError"

  /primers/check:
    x-swagger-router-controller: primers
    post:
      summary: "Submit a primer specificity / pan-genome check"
      description: "Queues a check job (BLAST against the reference genome, plus its transcriptome in transcript mode, and optionally every same-species genome). Job ids are deterministic: an identical request returns the existing job (200) instead of queueing a new one (202). Poll GET /primers/check/{job_id}."
      operationId: submitPrimerCheck
      tags:
        - "Primer design"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: "check request (frozen contract)"
          required: true
          schema:
            $ref: "#/definitions/PrimerCheckRequest"
      responses:
        200:
          description: "An identical job already exists (queued, running or done)"
          schema:
            $ref: "#/definitions/PrimerCheckJob"
        202:
          description: "A new job was queued (also when an errored job is re-queued)"
          schema:
            $ref: "#/definitions/PrimerCheckJob"
        400:
          description: "Swagger validation errors, or INVALID_REQUEST, INVALID_PARAMS (params.max_amplifying_mismatches not below ignore_mismatches), DUPLICATE_PAIR_ID, TOO_MANY_PRIMERS, PRODUCT_TOO_LONG_TO_CHECK, GENOME_NOT_CHECKABLE, SYSTEM_NAME_MISMATCH"
          schema:
            $ref: "#/definitions/PrimerError"
        404:
          description: "UNKNOWN_GENOME, UNKNOWN_GENE, UNKNOWN_TRANSCRIPT"
          schema:
            $ref: "#/definitions/PrimerError"
        422:
          description: "JOB_TOO_LARGE, NO_BLASTDB, AMBIGUOUS_ASSEMBLY"
          schema:
            $ref: "#/definitions/PrimerError"
        503:
          description: "QUEUE_FULL, JOB_STORE_UNAVAILABLE, FEATURE_DISABLED, MONGO_UNAVAILABLE; details.retry_after_s and a Retry-After header"
          schema:
            $ref: "#/definitions/PrimerError"

  /primers/check/{job_id}:
    x-swagger-router-controller: primers
    get:
      summary: "Check job status and results"
      description: "status queued, running (partial results while the pan-genome stage runs), done or error. Jobs expire (done 24 h, error 1 h), after which the id returns 404 UNKNOWN_JOB."
      operationId: getPrimerCheck
      tags:
        - "Primer design"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: job_id
          description: "32 lowercase hex characters"
          required: true
          type: string
          pattern: "^[0-9a-f]{32}$"
      responses:
        200:
          description: "Job status, progress and results (results null until there is something to show)"
          schema:
            $ref: "#/definitions/PrimerCheckJob"
        400:
          description: "Swagger validation errors (malformed job_id)"
          schema:
            $ref: "#/definitions/PrimerError"
        404:
          description: "UNKNOWN_JOB (unknown or expired)"
          schema:
            $ref: "#/definitions/PrimerError"
        503:
          description: "JOB_STORE_UNAVAILABLE, FEATURE_DISABLED"
          schema:
            $ref: "#/definitions/PrimerError"

  # Genotyping primers (docs/genotyping_design_spec.md §2.3-§2.6). Also before /{collection}.
  /primers/variants:
    x-swagger-router-controller: primers
    get:
      summary: "Known variants (Ensembl REST) in a genomic window, normalized to left-aligned VCF keys and verified against this site's genome"
      description: "One entry per designable biallelic key; Ensembl records describing the same event are merged. Only genomes with variation data (GET /primers/genomes has_variation) can be queried. Cache-Control: no-store."
      operationId: listPrimerVariants
      tags:
        - "Primer design"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: system_name
          description: "genome with variation data, e.g. sorghum_bicolor"
          required: true
          type: string
          pattern: "^[a-z0-9_]+$"
          maxLength: 128
        - in: query
          name: region
          description: "sequence name of the assembly, e.g. 1"
          required: true
          type: string
          maxLength: 255
        - in: query
          name: start
          description: "1-based window start"
          required: true
          type: integer
          minimum: 1
        - in: query
          name: end
          description: "1-based inclusive window end; end - start + 1 <= 50000"
          required: true
          type: integer
          minimum: 1
        - in: query
          name: types
          description: "comma-separated variant kinds; default all"
          required: false
          type: array
          collectionFormat: csv
          items:
            type: string
            enum: [snv, mnv, insertion, deletion, complex]
        - in: query
          name: include_ems
          description: "default true; false drops entries all of whose records are EMS"
          required: false
          type: boolean
        - in: query
          name: limit
          description: "default 2000; truncated is true when more matched"
          required: false
          type: integer
          minimum: 1
          maximum: 5000
      responses:
        200:
          description: "variants in the window"
          schema:
            $ref: "#/definitions/PrimerVariantList"
        400:
          description: "validator errors, VARIANT_WINDOW_TOO_LONG, REGION_OUT_OF_BOUNDS"
          schema:
            $ref: "#/definitions/PrimerError"
        404:
          description: "UNKNOWN_GENOME, UNKNOWN_REGION"
          schema:
            $ref: "#/definitions/PrimerError"
        422:
          description: "NO_VARIATION_DATA, NO_SEQUENCE, AMBIGUOUS_ASSEMBLY"
          schema:
            $ref: "#/definitions/PrimerError"
        503:
          description: "VARIATION_SOURCE_UNAVAILABLE, FEATURE_DISABLED, MONGO_UNAVAILABLE; details.retry_after_s and a Retry-After header"
          schema:
            $ref: "#/definitions/PrimerError"

  /primers/variants/{variant_id}:
    x-swagger-router-controller: primers
    get:
      summary: "Resolve one Ensembl variation id to normalized variant entries (one per designable alt)"
      description: "The id may contain ',' and '*' and must be URL-encoded. Every Ensembl id describing the same event is merged into the entry (warning DUPLICATE_VARIANT_IDS). Cache-Control: no-store."
      operationId: getPrimerVariant
      tags:
        - "Primer design"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: variant_id
          description: "Ensembl variation id, e.g. rs871475760 or tmp_1_11502_C_CGT"
          required: true
          type: string
          pattern: "^[A-Za-z0-9][A-Za-z0-9_.:,*-]{0,254}$"
        - in: query
          name: system_name
          description: "genome with variation data, e.g. sorghum_bicolor"
          required: true
          type: string
          pattern: "^[a-z0-9_]+$"
          maxLength: 128
      responses:
        200:
          description: "the variant"
          schema:
            $ref: "#/definitions/PrimerVariantLookup"
        400:
          description: "validator errors"
          schema:
            $ref: "#/definitions/PrimerError"
        404:
          description: "UNKNOWN_VARIANT, UNKNOWN_GENOME"
          schema:
            $ref: "#/definitions/PrimerError"
        422:
          description: "NO_VARIATION_DATA, NO_SEQUENCE, AMBIGUOUS_ASSEMBLY, AMBIGUOUS_VARIANT_MAPPING, VARIANT_NOT_ON_ASSEMBLY"
          schema:
            $ref: "#/definitions/PrimerError"
        503:
          description: "VARIATION_SOURCE_UNAVAILABLE, FEATURE_DISABLED, MONGO_UNAVAILABLE; details.retry_after_s and a Retry-After header"
          schema:
            $ref: "#/definitions/PrimerError"

  /primers/genotyping/design:
    x-swagger-router-controller: primers
    post:
      summary: "Design KASP or allele-specific PCR primer sets for one variant"
      description: "Synchronous, 45 s deadline (Ensembl work runs before the design semaphore). Returns explicit sets (REF-specific, ALT-specific and common primers), order-sheet rows and a ready /primers/check request. Requires Content-Type: application/json. Every response is Cache-Control: no-store."
      operationId: designGenotypingPrimers
      tags:
        - "Primer design"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: "genotyping design request; exactly one of variant {id [, alt]} or {region, position, ref, alt}"
          required: true
          schema:
            $ref: "#/definitions/PrimerGenotypingRequest"
      responses:
        200:
          description: "variant, template, per-orientation attempts, sets (possibly none, with warning NO_SETS), check request, warnings; a design stopped by its budget is still a 200 with DESIGN_BUDGET_EXHAUSTED"
          schema:
            $ref: "#/definitions/PrimerGenotypingResponse"
        400:
          description: "validator errors, INVALID_REQUEST, INVALID_PARAMS, INVALID_VARIANT, REF_MISMATCH, ALT_REQUIRED, ALT_NOT_AT_SITE, UNSUPPORTED_ALLELE, VARIANT_TOO_CLOSE_TO_END, VARIANT_TOO_REPETITIVE, REGION_OUT_OF_BOUNDS, PRIMER3_INPUT_ERROR"
          schema:
            $ref: "#/definitions/PrimerError"
        404:
          description: "UNKNOWN_GENOME, UNKNOWN_REGION, UNKNOWN_VARIANT"
          schema:
            $ref: "#/definitions/PrimerError"
        413:
          description: "Request body larger than 100 kb"
        422:
          description: "NO_SEQUENCE, AMBIGUOUS_ASSEMBLY, NO_VARIATION_DATA, AMBIGUOUS_VARIANT_MAPPING, VARIANT_NOT_ON_ASSEMBLY"
          schema:
            $ref: "#/definitions/PrimerError"
        500:
          description: "PRIMER3_FAILED, THERMO_FAILED, INTERNAL"
          schema:
            $ref: "#/definitions/PrimerError"
        503:
          description: "BUSY, PRIMER3_UNAVAILABLE, THERMO_UNAVAILABLE, VARIATION_SOURCE_UNAVAILABLE, FEATURE_DISABLED, MONGO_UNAVAILABLE; details.retry_after_s and a Retry-After header"
          schema:
            $ref: "#/definitions/PrimerError"
        504:
          description: "DEADLINE_EXCEEDED (45 s end to end)"
          schema:
            $ref: "#/definitions/PrimerError"

  /{collection}:
    x-swagger-router-controller: mongo
    get:
      summary: "MongoDB"
      operationId: get
      description: "Legacy method for backward-compatibility. No schema specified for response document."
      parameters:
        - $ref: "#/parameters/collection"
        - $ref: "#/parameters/q"
        - $ref: "#/parameters/rows"
        - $ref: "#/parameters/start"
        - $ref: "#/parameters/fl"
        - $ref: "#/parameters/wt"
        - $ref: "#/parameters/idList"
      tags:
        - "Data access"
      responses:
        200:
          description: "MongoDB response object"
# complex objects have schema definitions
definitions:
  ResponseHeader:
    required:
     - status
     - QTime
     - params
    properties:
      status:
        type: integer
      QTime:
        type: integer
      params:
        type: object
  Suggestion:
    required:
     - category
     - id
     - fq_field
     - fq_value
     - display_name
     - num_genes
     - score
     - taxon_id
     - taxon_freq
    properties:
      category:
        type: string
      fq_field:
        type: string
      fq_value:
        type: string
      id:
        type: string
      display_name:
        type: string
      num_genes:
        type: integer
        minimum: 0
      score:
        type: number
        minimum: 0
      taxon_id:
        $ref: "#/definitions/int_id_list"
      taxon_freq:
        $ref: "#/definitions/int_id_list"        
  Suggestions:
    required:
      - docs
      - maxScore
      - numFound
      - start
    properties:
      docs:
        type: array
        items:
          $ref: "#/definitions/Suggestion"
      maxScore:
        type: number
        minimum: 0.0
      numFound:
        type: integer
        minimum: 0
      start:
        type: integer
        minimum: 0
  SuggestionType:
    required:
     - groupValue
     - doclist
    properties:
      groupValue:
        type: string
      doclist:
        $ref: "#/definitions/Suggestions"
  Category:
    type: object
    required:
     - matches
     - groups
    properties:
      matches:
        type: integer
      groups:
        type: array
        items:
          $ref: "#/definitions/SuggestionType"
  GroupedBy:
    required:
     - category
    properties:
      category:
        $ref: "#/definitions/Category"
  SolrSuggestResponse:
    required:
     - responseHeader
     - grouped
    properties:
      responseHeader:
        $ref: "#/definitions/ResponseHeader"
      grouped:
        $ref: "#/definitions/GroupedBy"
  Result:
    required:
      - id
      - name
      - description
      - taxon_id
      - biotype
      - score
      - capabilities
    properties:
      id:
        type: string
      name:
        type: string
      description:
        type: string
      summary:
        type: string
      taxon_id:
        type: integer
        minimum: 0
      score:
        type: number
      closest_rep_id:
        type: string
      closest_rep_identity:
        type: number
      closest_rep_name:
        type: string
      closest_rep_taxon_id:
        type: integer
      closest_rep_description:
        type: string
      model_rep_id:
        type: string
      model_rep_identity:
        type: number
      model_rep_name:
        type: string
      model_rep_taxon_id:
        type: integer
      model_rep_description:
        type: string
      capabilities:
        $ref: "#/definitions/capabilities"
      biotype:
        type: string
        enum:
          - "protein_coding"
          - "miRNA"
          - "ncRNA"
          - "low_confidence"
          - "transposable_element"
          - "snoRNA"
          - "tRNA"
          - "misc_RNA"
          - "undefined"
          - "pseudogene"
          - "tRNA_pseudogene"
          - "nontranslating_CDS"
          - "snRNA"
          - "rRNA"
          - "antisense"
          - "SRP_RNA"
          - "tmRNA"
          - "ribozyme"
          - "RNase_MRP_RNA"
          - "telomerase_RNA"
          - "P_RNA"
          - "RNase_P_RNA"
          - "vault_RNA"
  SolrFacetDocument:
    required:
      - facet_fields
    properties:
      facet_fields:
        type: object
  Results:
    required:
      - start
      - maxScore
      - numFound
    properties:
      numFound:
        type: integer
      start:
        type: integer
      maxScore:
        type: integer
      docs:
        type: array
        items:
          $ref: "#/definitions/Result"
  SearchResponse:
    required:
     - responseHeader
     - response
    properties:
      responseHeader:
        $ref: "#/definitions/ResponseHeader"
      response:
        $ref: "#/definitions/Results"
      facet_counts:
        $ref: "#/definitions/SolrFacetDocument"

  GeneDocument:
    required:
      - _id
      - name
      - description
      - taxon_id
      - system_name
      - biotype
      - db_type
      - gene_idx
      - species_idx
      - location
      - gene_structure
      - annotations
      - bins

    properties:
      _id:
        type: string
      name:
        type: string
      description:
        type: string
      summary:
        type: string
      db_type:
        type: string
      synonyms:
        type: array
        items:
          type: string
      taxon_id:
        type: integer
        minimum: 0
      gene_idx:
        type: integer
        minimum: 0
      species_idx:
        type: integer
        minimum: 0
      system_name:
        type: string
      biotype:
        type: string
        enum:
          - "protein_coding"
          - "miRNA"
          - "ncRNA"
          - "low_confidence"
          - "transposable_element"
          - "snoRNA"
          - "tRNA"
          - "misc_RNA"
          - "undefined"
          - "pseudogene"
          - "tRNA_pseudogene"
          - "nontranslating_CDS"
          - "snRNA"
          - "rRNA"
          - "antisense"
          - "SRP_RNA"
          - "tmRNA"
          - "ribozyme"
          - "RNase_MRP_RNA"
          - "telomerase_RNA"
          - "P_RNA"
          - "RNase_P_RNA"
          - "vault_RNA"
      gene_structure:
        $ref: "#/definitions/GeneStructure"
      annotations:
        $ref: "#/definitions/GeneAnnotations"
      bins:
        $ref: "#/definitions/GeneBins"
      homology:
        $ref: "#/definitions/GeneHomology"
      location:
        $ref: "#/definitions/GeneLocation"
      xrefs:
        type: array
        items:
          $ref: "#/definitions/GeneXref"
  GeneAnnotations:
    properties:
      GO:
        properties:
          entries:
            type: array
            items:
              $ref: "#/definitions/OntologyAnnotations"
          ancestors:
            $ref: "#/definitions/int_id_list"
      PO:
        properties:
          entries:
            type: array
            items:
              $ref: "#/definitions/OntologyAnnotations"
          ancestors:
            $ref: "#/definitions/int_id_list"
      domains:
        properties:
          entries:
            type: array
            items:
              $ref: "#/definitions/DomainAnnotations"
          ancestors:
            $ref: "#/definitions/int_id_list"
      taxonomy:
        properties:
          entries:
            type: array
            items:
              $ref: "#/definitions/TaxonomyAnnotations"
          ancestors:
            $ref: "#/definitions/int_id_list"
      pathways:
        properties:
          entries:
            type: array
            items:
              $ref: "#/definitions/PathwayAnnotations"
          ancestors:
            $ref: "#/definitions/int_id_list"
  OntologyAnnotations:
    properties:
      id:
        type: string
      name:
        type: string
      namespace:
        type: string
      def:
        type: string
      subset:
        $ref: "#/definitions/string_list"
      evidence_code:
        type: string
  DomainAnnotations:
    properties:
      id:
        type: string
      name:
        type: string
      description:
        type: string
  TaxonomyAnnotations:
    properties:
      _id:
        type: integer
      name:
        type: string
  PathwayAnnotations:
    properties:
      id:
        type: string
      name:
        type: string

  GeneBins:
    required:
      - fixed_100
      - fixed_200
      - fixed_500
      - fixed_1000
      - uniform_1Mb
      - uniform_2Mb
      - uniform_5Mb
      - uniform_10Mb
    properties:
      fixed_100:
        type: integer
        minimum: 0
      fixed_200:
        type: integer
        minimum: 0
      fixed_500:
        type: integer
        minimum: 0
      fixed_1000:
        type: integer
        minimum: 0
      uniform_1Mb:
        type: integer
        minimum: 0
      uniform_2Mb:
        type: integer
        minimum: 0
      uniform_5Mb:
        type: integer
        minimum: 0
      uniform_10Mb:
        type: integer
        minimum: 0

  GeneStructure:
    required:
      - exons
      - transcripts
      - canonical_transcript
    properties:
      exons:
        type: array
        items:
          $ref: "#/definitions/GeneExon"
      transcripts:
        type: array
        items:
          $ref: "#/definitions/GeneTranscript"
      canonical_transcript:
        type: string

  GeneExon:
    allOf:
      - $ref: "#/definitions/int_range"
      - required:
          - id
        properties:
          id:
            type: string

  GeneTranscript:
    required:
      - id
      - exons
      - exon_junctions
      - length

    properties:
      id:
        type: string
      cds:
        $ref: "#/definitions/int_range"
      exons:
        type: array
        items:
          type: string
      exon_junctions:
        type: array
        items:
          type: integer
          minimum: 0
      length:
        type: integer
        minimum: 0
      translation:
        $ref: "#/definitions/GeneTranslation"

  GeneTranslation:
    required:
      - id
      - length

    properties:
      id:
        type: string
      length:
        type: integer
        minimum: 1
      features:
        $ref: "#/definitions/TranslationFeatures"

  TranslationFeatures:
    properties:
      active_site:
        $ref: "#/definitions/InterProType"
      binding_site:
        $ref: "#/definitions/InterProType"
      conserved_site:
        $ref: "#/definitions/InterProType"
      domain:
        $ref: "#/definitions/InterProDomain"
      repeat:
        $ref: "#/definitions/InterProType"
      family:
        $ref: "#/definitions/InterProType"
      ptm:
        $ref: "#/definitions/InterProType"

  InterProType:
    properties:
      entries:
        type: array
        items:
          $ref: "#/definitions/DomainInstance"

  InterProDomain:
    allOf:
      - $ref: "#/definitions/InterProType"
      - properties:
          roots:
            type: string
          architecture:
            type: array
            items:
              $ref: "#/definitions/DomainInstance"

  DomainInstance:
    allOf:
      - $ref: "#/definitions/int_range"
      - required:
          - name
          - description
          - db
          - interpro
        properties:
          name:
            type: string
          description:
            type: string
          db:
            type: string
          interpro:
            type: string
          root:
            type: string

  GeneHomology:
    properties:
      gene_tree:
        $ref: '#/definitions/GeneTree'
      pan_tree:
        $ref: '#/definitions/GeneTree'
      homologous_genes:
        $ref: '#/definitions/HomologyTypes'

  HomologyTypes:
    properties:
      ortholog_one2one:
        $ref: '#/definitions/string_list'
      ortholog_one2many:
        $ref: '#/definitions/string_list'
      ortholog_many2many:
        $ref: '#/definitions/string_list'
      within_species_paralog:
        $ref: '#/definitions/string_list'
      other_paralog:
        $ref: '#/definitions/string_list'
      gene_split:
        $ref: '#/definitions/string_list'
      between_species_paralog:
        $ref: '#/definitions/string_list'
      alt_allele:
        $ref: '#/definitions/string_list'
      homoeolog_one2one:
        $ref: '#/definitions/string_list'
      homoeolog_one2many:
        $ref: '#/definitions/string_list'
      homoeolog_many2many:
        $ref: '#/definitions/string_list'
      syntenic_ortholog_one2one:
        $ref: '#/definitions/string_list'
      syntenic_ortholog_one2many:
        $ref: '#/definitions/string_list'
      syntenic_ortholog_many2many:
        $ref: '#/definitions/string_list'
      syntenic_between_species_paralog:
        $ref: '#/definitions/string_list'

  GeneTree:
    required:
      - id
      - root_taxon_id
      - root_taxon_name
    properties:
      id:
        type: string
      root_taxon_id:
        type: integer
      root_taxon_name:
        type: string
      representative:
        properties:
          closest:
            $ref: '#/definitions/GeneTreeRepresentative'
          model:
            $ref: '#/definitions/GeneTreeRepresentative'

  GeneTreeRepresentative:
    required:
      - id
      - taxon_id
      - name
      - description
    properties:
      id:
        type: string
      taxon_id:
        type: integer
      name:
        type: string
      description:
        type: string

  GeneLocation:
    allOf:
      - $ref: '#/definitions/int_range'
      -
        required:
         - map
         - region
         - strand
        properties:
          map:
            type: string
          region:
            type: string
          strand:
            type: integer
            enum:
              - 1
              - -1

  GeneXref:
    required:
      - db
      - ids
    properties:
      db:
        type: string
      ids:
        $ref: '#/definitions/string_list'

  MongoGenesResponse:
    type: array
    items:
      $ref: '#/definitions/GeneDocument'

  capabilities:
    type: array
    items:
      type: string
      enum:
       - "homology"
       - "xrefs"
       - "GO"
       - "domains"
       - "taxonomy"
       - "PO"
       - "pathways"
       - "location"
       - "expression"

  int_range:
    required:
      - start
      - end
    properties:
      start:
        type: integer
      end:
        type: integer

  string_list:
    type: array
    items:
      type: string

  int_id_list:
    type: array
    items:
      type: integer
      minimum: 0

  MongoGenetreesResponse:
    type: 'array'
    items:
      $ref: '#/definitions/GenetreeRootNode'

  GenetreeRootNode:
    allOf:
      - $ref: '#/definitions/GenetreeNode'
      -
        required:
          - root_id
          - tree_id
          - tree_stable_id
          - tree_type
        properties:
          root_id:
            type: integer
            minimum: 0
          tree_id:
            type: string
          tree_stable_id:
            type: string
          tree_type:
            type: string
            enum:
              - 'tree'
              - 'supertree'
  GenetreeNode:
    allOf:
      - $ref: '#/definitions/GenetreeInternalNode'
      - $ref: '#/definitions/GenetreeLeafNode'
      -
        required:
          - node_id
          - distance_to_parent
          - left_index
          - right_index
          - taxon_id
          - taxon_name
        properties:
          node_id:
            type: integer
            minimum: 0
          distance_to_parent:
            type: number
            minimum: 0.0
          left_index:
            type: integer
            minimum: 0
          right_index:
            type: integer
          taxon_id:
            type: integer
            minimum: 0
          taxon_name:
            type: string
            minimum: 0

  GenetreeInternalNode:
    properties:
      node_type:
        type: string
        enum:
          - "duplication"
          - "speciation"
          - "dubious"
          - "gene_split"
      bootstrap:
        type: integer
        minimum: 0
        maximum: 100
      duplication_confidence_score:
        type: number
      children:
        type: array
        items:
          $ref: '#/definitions/GenetreeNode'

  GenetreeLeafNode:
    properties:
      protein_stable_id:
        type: string
      gene_stable_id:
        type: string
      gene_description:
        type: string
      cigar:
        type: string
      sequence:
        type: string
      assembly:
        type: string
      representative:
        required:
          - id
          - score
        properties:
          id:
            type: string
          score:
            type: number

  MongoMapsResponse:
    required:
      - _id
      - db
      - taxon_id
      - system_name
      - display_name
      - type
      - length
      - regions
      - num_genes
    properties:
      _id:
        type: string
      db:
        type: string
      taxon_id:
        type: integer
        minimum: 0
      system_name:
        type: string
      display_name:
        type: string
      type:
        type: string
        enum:
          - "genome"
      length:
        type: integer
        minimum: 0
      regions:
        $ref: '#/definitions/Region'
      num_genes:
        type: integer
        minimum: 0

  Region:
    required:
      - names
      - lengths
    properties:
      names:
        type: array
        items:
          type: string
      lengths:
        type: array
        items:
          type: integer
          minimum: 0

  Term:
    required:
      - _id
      - id
      - name
      - ancestors
    properties:
      _id:
        type: integer
      id:
        type: string
      name:
        type: string
      ancestors:
        type: array
        items:
          type: integer

  InterProResponse:
    type: array
    items:
      $ref: '#/definitions/InterProDoc'

  TaxonomyResponse:
    type: array
    items:
      $ref: '#/definitions/Taxon'

  OntologyResponse:
    type: array
    items:
      $ref: '#/definitions/OntologyTerm'

  ReactomeEntityResponse:
    type: array
    items:
      $ref: '#/definitions/ReactomeEntity'

  InterProDoc:
    allOf:
      - $ref: '#/definitions/Term'
      -
        required:
          - parents
          - type
          - description
          - abstract
          - PFAM
          - PROFILE
          - SMART
          - PANDIT
          - MSDsite
          - BLOCKS
          - PROSITEDOC
          - PDB
          - CATH
          - SCOP
        properties:
          parents:
            type: array
            items:
              type: integer
          type:
            type: string
          description:
            type: string
          abstract:
            type: string
          PFAM:
            type: string
          PROFILE:
            type: string
          SMART:
            type: string
          PANDIT:
            type: string
          MSDsite:
            type: string
          BLOCKS:
            type: string
          PROSITEDOC:
            type: string
          PDB:
            type: array
            items:
              type: string
          CATH:
            type: array
            items:
              type: string
          SCOP:
            type: array
            items:
              type: string

  Taxon:
    allOf:
      - $ref: '#/definitions/Term'
      -
        required:
          - xref
          - synonym
          - namespace
        properties:
           namespace:
             type: string
           synonym:
             type: array
             items:
               type: string
           xref:
             type: array
             items:
               type: string
  OntologyTerm:
    allOf:
      - $ref: '#/definitions/Term'
      -
        required:
          - synonym
          - is_a
          - namespace
          - def
          - comment
        properties:
          synonym:
            type: array
            items:
              type: string
          is_a:
            type: array
            items:
              type: integer
          namespace:
            type: string
          def:
            type: string
          relationship:
            type: array
            items:
              type: string
          subset:
            type: array
            items:
              type: string
          is_obsolete:
            type: string
            enum:
              - "1"
          consider:
            type: array
            items:
              type: integer
          comment:
            type: array
            items:
              type: string

  ReactomeEntity:
    allOf:
      - $ref: '#/definitions/Term'
      -
        required:
          - lineage
          - type
          - parents
          - synonyms
        properties:
          lineage:
            type: array
            items:
              type: array
              items:
                type: integer
          type:
            type: string
          parents:
            type: array
            items:
              type: integer
          synonyms:
            type: array
            items:
              type: string

  # ---- Primer design (/primers/*) --------------------------------------------------------------------
  # Request definitions are strict (additionalProperties: false) and mirror api/helpers/primers/design.js
  # (TOP_LEVEL_FIELDS, PARAM_SPECS) and check/normalize.js (BODY_KEYS, PARAM_RULES);
  # test/primers/unit/contract.test.js keeps them in sync. PrimerCheckRequest is the frozen check contract.
  # Response definitions are documentation only (validateResponse is false); nullable fields carry x-nullable.
  PrimerInterval:
    description: "[start, length] in 1-based template coordinates"
    type: array
    minItems: 2
    maxItems: 2
    items:
      type: integer
      minimum: 1
  PrimerRegion:
    description: "Genomic region, 1-based inclusive; strand defaults to 1"
    type: object
    required: [region, start, end]
    additionalProperties: false
    properties:
      region: { type: string, maxLength: 255 }
      start: { type: integer, minimum: 1 }
      end: { type: integer, minimum: 1 }
      strand: { type: integer, enum: [1, -1] }
  PrimerDesignParams:
    description: "Closed set of Primer3 settings. Unset values come from the preset (pcr; qpcr in transcript mode). Cross-field rules (min <= opt <= max, max_size <= smallest product size, junction overlaps <= floor(max_size/2)) are checked by the handler (400 INVALID_PARAMS)."
    type: object
    additionalProperties: false
    properties:
      opt_size: { type: integer, minimum: 15, maximum: 36 }
      min_size: { type: integer, minimum: 15, maximum: 36 }
      max_size: { type: integer, minimum: 15, maximum: 36 }
      opt_tm: { type: number, minimum: 30, maximum: 90 }
      min_tm: { type: number, minimum: 30, maximum: 90 }
      max_tm: { type: number, minimum: 30, maximum: 90 }
      opt_gc: { type: number, minimum: 0, maximum: 100 }
      min_gc: { type: number, minimum: 0, maximum: 100 }
      max_gc: { type: number, minimum: 0, maximum: 100 }
      max_tm_diff: { type: number, minimum: 0, maximum: 30 }
      max_poly_x: { type: integer, minimum: 0, maximum: 10 }
      gc_clamp: { type: integer, minimum: 0, maximum: 5 }
      max_end_stability: { type: number, minimum: 0, maximum: 100 }
      max_ns: { type: integer, minimum: 0, maximum: 5 }
      salt_monovalent: { type: number, minimum: 0, maximum: 1000 }
      salt_divalent: { type: number, minimum: 0, maximum: 100 }
      dntp_conc: { type: number, minimum: 0, maximum: 100 }
      dna_conc: { type: number, minimum: 0, maximum: 10000 }
      num_return: { type: integer, minimum: 1, maximum: 20 }
      min_3_prime_overlap_of_junction: { type: integer, minimum: 1, maximum: 20 }
      min_5_prime_overlap_of_junction: { type: integer, minimum: 1, maximum: 20 }
      product_size_ranges:
        type: array
        minItems: 1
        maxItems: 10
        items:
          type: array
          minItems: 2
          maxItems: 2
          items: { type: integer, minimum: 20, maximum: 50000 }
  PrimerDesignRequest:
    description: "gene: gene_id (+ flank_up/flank_down, transcript_id overlay, system_name must match). transcript: gene_id (+ transcript_id, default canonical; junction_spanning, default true). region: system_name + region. sequence: sequence (FASTA headers allowed; several records are joined into one template with warning MULTIPLE_RECORDS; system_name optional). Omit optional fields rather than sending null."
    type: object
    required: [mode]
    additionalProperties: false
    properties:
      mode: { type: string, enum: [gene, transcript, region, sequence] }
      gene_id: { type: string, maxLength: 255 }
      transcript_id: { type: string, maxLength: 255 }
      system_name: { type: string, pattern: "^[a-z0-9_]+$", maxLength: 128 }
      region: { $ref: "#/definitions/PrimerRegion" }
      sequence: { type: string, maxLength: 60000 }
      flank_up: { type: integer, minimum: 0, maximum: 10000 }
      flank_down: { type: integer, minimum: 0, maximum: 10000 }
      target: { $ref: "#/definitions/PrimerInterval" }
      included: { $ref: "#/definitions/PrimerInterval" }
      excluded:
        type: array
        maxItems: 50
        items: { $ref: "#/definitions/PrimerInterval" }
      avoid_repeats: { type: boolean }
      repeat_mask_mode: { type: string, enum: [n_mask, three_prime] }
      junction_spanning: { type: boolean }
      template_only: { type: boolean, description: "return the template (with its mask) and no pairs; Primer3 is not run and product_size_ranges are not checked against the template length (every other rule still applies)" }
      params: { $ref: "#/definitions/PrimerDesignParams" }
  PrimerCheckRequest:
    description: "Frozen check contract. mode defaults to region; checks defaults to [specificity] and specificity always runs; genomes applies only with the pangenome check (omitted = every checkable same-species genome); expected is honoured only in gene and region modes."
    type: object
    required: [system_name, pairs]
    additionalProperties: false
    properties:
      system_name: { type: string, pattern: "^[a-z0-9_]+$", maxLength: 128 }
      mode: { type: string, enum: [gene, transcript, region, sequence] }
      gene_id: { type: string, maxLength: 255 }
      transcript_id: { type: string, maxLength: 255 }
      checks: { type: array, minItems: 1, maxItems: 2, items: { type: string, enum: [specificity, pangenome] } }
      genomes: { type: array, maxItems: 150, items: { type: string, pattern: "^[a-z0-9_]+$", maxLength: 128 } }
      params:
        type: object
        description: "Unset values take the defaults (max_product_size 4000, ignore_mismatches 6, min_total_mismatches 2, min_3p_mismatches 2, three_prime_window 5, include_unlikely false, repeat_site_threshold 5, max_amplifying_mismatches 3). max_amplifying_mismatches must be below ignore_mismatches (400 INVALID_PARAMS); when it is omitted, the default is lowered to ignore_mismatches - 1 if needed."
        additionalProperties: false
        properties:
          max_product_size: { type: integer, minimum: 50, maximum: 10000 }
          ignore_mismatches: { type: integer, minimum: 3, maximum: 6, description: "a primer site with this many edits cannot prime; its products are dropped" }
          min_total_mismatches: { type: integer, minimum: 0, maximum: 6 }
          min_3p_mismatches: { type: integer, minimum: 1, maximum: 5 }
          three_prime_window: { type: integer, minimum: 3, maximum: 10 }
          include_unlikely: { type: boolean }
          repeat_site_threshold: { type: integer, minimum: 1, maximum: 100 }
          max_amplifying_mismatches: { type: integer, minimum: 0, maximum: 5, description: "a product amplifies only if each primer site has at most this many edits (and passes the 3' rule); products over it are unlikely" }
      pairs:
        type: array
        minItems: 1
        maxItems: 10
        items:
          type: object
          required: [id, left, right]
          additionalProperties: false
          properties:
            id: { type: string, pattern: "^[A-Za-z0-9_.:-]+$", maxLength: 64 }
            left: { type: string, pattern: "^[ACGTacgt]{15,36}$" }
            right: { type: string, pattern: "^[ACGTacgt]{15,36}$" }
            expected:
              type: object
              required: [region, start, end]
              additionalProperties: false
              properties:
                region: { type: string, maxLength: 255 }
                start: { type: integer, minimum: 1 }
                end: { type: integer, minimum: 1 }
      genotyping: { $ref: "#/definitions/PrimerCheckGenotyping" }
  PrimerCheckGenotypingVariant:
    description: "the design response's variant.vcf plus its region; ACGT alleles only, left-aligned or not (the server normalizes)"
    type: object
    required: [region, position, ref, alt]
    additionalProperties: false
    properties:
      region: { type: string, maxLength: 255 }
      position: { type: integer, minimum: 1 }
      ref: { type: string, pattern: "^[ACGTacgt]{1,50}$" }
      alt: { type: string, pattern: "^[ACGTacgt]{1,50}$" }
  PrimerCheckGenotypingSet:
    type: object
    required: [id, ref_pair, alt_pair]
    additionalProperties: false
    properties:
      id: { type: string, pattern: "^[A-Za-z0-9_.:-]{1,64}$" }
      ref_pair: { type: string, pattern: "^[A-Za-z0-9_.:-]{1,64}$", description: "id of the pairs[] item whose allele-specific primer carries the REF allele" }
      alt_pair: { type: string, pattern: "^[A-Za-z0-9_.:-]{1,64}$" }
  PrimerCheckGenotyping:
    description: "Allele-specific sets over ordinary pairs. gene and region modes only; every referenced pair needs expected. The server derives each set's orientation and allele side from the shared primer and verifies both allele-specific primers against the reference haplotypes at submit."
    type: object
    required: [variant, sets]
    additionalProperties: false
    properties:
      variant: { $ref: "#/definitions/PrimerCheckGenotypingVariant" }
      sets:
        type: array
        minItems: 1
        maxItems: 5
        items: { $ref: "#/definitions/PrimerCheckGenotypingSet" }
  PrimerError:
    description: "Handler error body. Swagger validation errors instead look like {message: 'Validation errors', errors: [{code, message, path}]}; the code INVALID_CONTENT_TYPE appears there."
    type: object
    required: [message, code]
    properties:
      message: { type: string }
      code: { type: string, description: "UPPER_SNAKE code" }
      details: { type: object, description: "code-specific; every 503 carries retry_after_s (also sent as Retry-After)" }
      errors: { type: array, items: { type: object } }
  PrimerWarning:
    type: object
    properties:
      code: { type: string }
      message: { type: string }
      details: { type: object, description: "code-specific; present on every genotyping and variants warning" }
  PrimerBlock:
    type: object
    properties:
      start: { type: integer }
      end: { type: integer }
  PrimerGenomicLocation:
    description: "Genomic footprint; blocks are ascending and there are two or more when a cDNA primer spans an exon-exon junction"
    type: object
    x-nullable: true
    properties:
      region: { type: string }
      start: { type: integer }
      end: { type: integer }
      strand: { type: integer, enum: [1, -1] }
      blocks: { type: array, items: { $ref: "#/definitions/PrimerBlock" } }
  PrimerOligo:
    type: object
    properties:
      seq: { type: string, description: "5'->3', uppercase" }
      start: { type: integer, description: "template coordinate of the leftmost base" }
      end: { type: integer }
      len: { type: integer }
      tm: { type: number }
      gc: { type: number }
      self_any_th: { type: number }
      self_end_th: { type: number }
      hairpin_th: { type: number }
      end_stability: { type: number }
      penalty: { type: number }
      junction:
        type: object
        x-nullable: true
        properties:
          position: { type: integer, description: "junction between template bases position and position+1" }
          overlap_5p: { type: integer }
          overlap_3p: { type: integer }
      genomic: { $ref: "#/definitions/PrimerGenomicLocation" }
  PrimerDesignPair:
    type: object
    properties:
      rank: { type: integer }
      penalty: { type: number }
      product_size: { type: integer, description: "right.end - left.start + 1" }
      product_tm: { type: number, x-nullable: true, description: "Primer3 product Tm; with repeat_mask_mode n_mask, recomputed on the unmasked template (Primer3 long_seq_tm, same salts) for products covering masked bases" }
      compl_any_th: { type: number }
      compl_end_th: { type: number }
      left: { $ref: "#/definitions/PrimerOligo" }
      right: { $ref: "#/definitions/PrimerOligo" }
      product:
        type: object
        properties:
          start: { type: integer }
          end: { type: integer }
          genomic: { $ref: "#/definitions/PrimerGenomicLocation" }
          genomic_size: { type: integer, description: "transcript templates only: genomic envelope length" }
  PrimerDesignTemplate:
    type: object
    properties:
      mode: { type: string, enum: [gene, transcript, region, sequence] }
      system_name: { type: string, x-nullable: true }
      gene_id: { type: string, x-nullable: true }
      transcript_id: { type: string, x-nullable: true }
      region: { type: string, x-nullable: true }
      start: { type: integer, x-nullable: true }
      end: { type: integer, x-nullable: true }
      strand: { type: integer, x-nullable: true }
      length: { type: integer }
      seq: { type: string, description: "uppercase and unmasked; Primer3 receives the masked copy" }
      masked: { type: boolean }
      mask_source: { type: string, enum: [softmask, blast_depth, user_lowercase], x-nullable: true }
      mask: { type: array, items: { $ref: "#/definitions/PrimerInterval" } }
      masked_fraction: { type: number }
      features:
        type: object
        description: "gene: {gene, exons, cds, junctions}; transcript: {gene: null, exons, cds, junctions}; region and sequence: {}"
  PrimerDesignResponse:
    type: object
    properties:
      template: { $ref: "#/definitions/PrimerDesignTemplate" }
      pairs: { type: array, items: { $ref: "#/definitions/PrimerDesignPair" } }
      explain:
        type: object
        x-nullable: true
        description: "Primer3 explain counts {left, right, pair}, each {raw, <reason>: count}; null for template_only"
      settings:
        type: object
        properties:
          preset: { type: string, enum: [pcr, qpcr] }
          junction_spanning: { type: boolean }
          avoid_repeats: { type: boolean }
          repeat_mask_mode: { type: string, enum: [n_mask, three_prime], x-nullable: true }
          params: { type: object, description: "effective values (preset merged with the request)" }
      engine:
        type: object
        properties:
          primer3: { type: string, x-nullable: true }
      warnings: { type: array, items: { $ref: "#/definitions/PrimerWarning" } }
  PrimerGenomesResponse:
    type: object
    properties:
      system_name: { type: string }
      species:
        type: object
        x-nullable: true
        properties:
          taxon_id: { type: integer }
          name: { type: string }
      variation:
        type: object
        description: "known-variant data for the query genome; {available: false, source: null, release: null} without data, never null"
        properties:
          available: { type: boolean }
          source: { type: string, enum: [ensembl], x-nullable: true }
          release: { type: string, x-nullable: true }
      counts:
        type: object
        properties:
          total: { type: integer }
          with_blastdb: { type: integer }
          with_cdna_blastdb: { type: integer }
      genomes:
        type: array
        items:
          type: object
          properties:
            system_name: { type: string }
            display_name: { type: string }
            taxon_id: { type: integer, x-nullable: true }
            map_id: { type: string }
            is_query: { type: boolean }
            has_sequence: { type: boolean }
            has_blastdb: { type: boolean }
            has_cdna_blastdb: { type: boolean }
            has_variation:
              type: boolean
              description: "known-variant data (Ensembl) is available for this genome; only sorghum_bicolor on sorghum_v11"
            repeat_masking: { type: string, enum: [soft_masked, unmasked_copy, absent] }
            total_bases: { type: integer, x-nullable: true }
            warnings: { type: array, items: { $ref: "#/definitions/PrimerWarning" } }
  PrimerVariantRecord:
    type: object
    properties:
      id: { type: string, description: "Ensembl id as reported; may contain ',' or '*' and may be up to 255 characters" }
      source: { type: string, x-nullable: true, description: "Ensembl overlap source code, e.g. EVA, EMS_PMID38100514_Jiao, SAP_PMID35653240_Boatwri (truncated to 100 characters)" }
      ems: { type: boolean, description: "source matches primers.variation.ems_source_pattern (^EMS_)" }
  PrimerVariantIssue:
    type: object
    properties:
      code: { type: string, enum: [REF_MISMATCH, STAR_ALLELE, ALLELE_TOO_LONG, UNSUPPORTED_ALLELE, REPEAT_TOO_LONG] }
      message: { type: string }
      details: { type: object }
  PrimerAlleleSite:
    type: object
    properties:
      position: { type: integer, description: "plus-strand coordinate of the allele-specific primer's 3' base" }
      ref_base: { type: string }
      alt_base: { type: string }
      alt_maps_to: { type: integer, x-nullable: true, description: "reference coordinate of the ALT haplotype base at this index; null for an inserted base" }
  PrimerVariantZone:
    type: object
    x-nullable: true
    description: "the guarded span: VCF span, both discriminating positions and both ALT 3' anchor mappings; null with issue REPEAT_TOO_LONG"
    properties:
      start: { type: integer }
      end: { type: integer }
  PrimerVariantVcf:
    type: object
    properties:
      position: { type: integer }
      ref: { type: string }
      alt: { type: string }
  PrimerVariantMinimal:
    type: object
    properties:
      start: { type: integer }
      end: { type: integer }
      ref: { type: string, description: "'-' for an insertion" }
      alt: { type: string, description: "'-' for a deletion" }
  PrimerVariantMultiallelic:
    type: object
    x-nullable: true
    properties:
      alleles: { type: array, items: { type: string } }
      other_alts: { type: array, items: { type: string } }
  PrimerVariant:
    type: object
    properties:
      key: { type: string, description: "region:position:REF:ALT, left-aligned VCF with anchor base for indels; canonical identity" }
      ids: { type: array, items: { type: string }, description: "Ensembl ids with this key: requested id first, then rs ids, then the rest alphabetically" }
      synonyms: { type: array, items: { type: string }, description: "id lookup only; '.' dropped" }
      label: { type: string }
      kind: { type: string, enum: [snv, mnv, insertion, deletion, complex] }
      region: { type: string }
      vcf: { $ref: "#/definitions/PrimerVariantVcf" }
      minimal: { $ref: "#/definitions/PrimerVariantMinimal" }
      alleles: { type: array, items: { type: string }, description: "all alleles of the site as reported, reference first ('-' and '*' kept)" }
      multiallelic: { $ref: "#/definitions/PrimerVariantMultiallelic" }
      shift: { type: integer, minimum: 0 }
      zone: { $ref: "#/definitions/PrimerVariantZone" }
      discriminating:
        type: object
        x-nullable: true
        description: "null with issue REPEAT_TOO_LONG"
        properties:
          forward: { $ref: "#/definitions/PrimerAlleleSite" }
          reverse: { $ref: "#/definitions/PrimerAlleleSite" }
      records: { type: array, items: { $ref: "#/definitions/PrimerVariantRecord" } }
      ems: { type: boolean, description: "every merged record is EMS" }
      consequence: { type: string, x-nullable: true }
      ref_verified: { type: boolean }
      designable: { type: boolean }
      issues: { type: array, items: { $ref: "#/definitions/PrimerVariantIssue" } }
      requested_id: { type: string, x-nullable: true, description: "design responses only (the lookup response carries it at the top level)" }
      submission_sequence: { type: string, description: "design response only: 50 bp flanks with [REF/ALT] (minimal alleles, '' for '-'), non-EMS biallelic SNV neighbours as IUPAC codes" }
  PrimerVariantSource:
    type: object
    properties:
      name: { type: string, enum: [ensembl] }
      release: { type: string }
  PrimerVariantList:
    type: object
    properties:
      system_name: { type: string }
      region: { type: string }
      start: { type: integer }
      end: { type: integer }
      source: { $ref: "#/definitions/PrimerVariantSource" }
      total: { type: integer }
      returned: { type: integer }
      truncated: { type: boolean }
      variants: { type: array, items: { $ref: "#/definitions/PrimerVariant" } }
      warnings: { type: array, items: { $ref: "#/definitions/PrimerWarning" } }
  PrimerVariantLookup:
    type: object
    properties:
      requested_id: { type: string }
      system_name: { type: string }
      source: { $ref: "#/definitions/PrimerVariantSource" }
      variants: { type: array, items: { $ref: "#/definitions/PrimerVariant" } }
      warnings: { type: array, items: { $ref: "#/definitions/PrimerWarning" } }
  # Genotyping design (docs/genotyping_design_spec.md §2.7-§2.8): the strict request definitions, then the response.
  PrimerVariantInput:
    description: "Exactly one of: {id [, alt]} or {region, position, ref, alt}. With id, alt selects the allele at a multi-allelic site (required there). Manual alleles: VCF style (A/C/G/T strings; position = first ref base) or Ensembl style (exactly one allele '-'; deletion: position = first deleted base; insertion: position = the base after the insertion point)."
    type: object
    additionalProperties: false
    properties:
      id: { type: string, pattern: "^[A-Za-z0-9][A-Za-z0-9_.:,*-]{0,254}$" }
      region: { type: string, maxLength: 255 }
      position: { type: integer, minimum: 1 }
      ref: { type: string, pattern: "^([ACGTacgt]{1,50}|-)$" }
      alt: { type: string, pattern: "^([ACGTacgt]{1,50}|-)$" }
  PrimerGenotypingAssay:
    description: "Unset values take the defaults of the assay type: kasp -> tails ref_fam_alt_hex, deliberate_mismatch none; as_pcr -> tails none, deliberate_mismatch auto. Both: orientation both, mismatch_position 2, num_sets 6, max_relaxation 2, neighbour_policy avoid_3p."
    type: object
    additionalProperties: false
    properties:
      type: { type: string, enum: [kasp, as_pcr] }
      orientation: { type: string, enum: [both, forward, reverse] }
      tails: { type: string, enum: [none, ref_fam_alt_hex, ref_hex_alt_fam] }
      deliberate_mismatch: { type: string, enum: [none, auto] }
      mismatch_position: { type: integer, enum: [2, 3] }
      num_sets: { type: integer, minimum: 1, maximum: 10 }
      max_relaxation: { type: integer, minimum: 0, maximum: 2 }
      neighbour_policy: { type: string, enum: [avoid_3p, ignore] }
  PrimerGenotypingParams:
    description: "Closed subset of PrimerDesignParams with the same bounds (design.js PARAM_SPECS, lines 31-54), except product_size_ranges. Unset values come from the assay preset. A param the client sets is pinned: the relaxation ladder never changes it. The effective product-range minimum is raised to 2 x max_size + 1."
    type: object
    additionalProperties: false
    properties:
      opt_size: { type: integer, minimum: 15, maximum: 36 }
      min_size: { type: integer, minimum: 15, maximum: 36 }
      max_size: { type: integer, minimum: 15, maximum: 36 }
      opt_tm: { type: number, minimum: 30, maximum: 90 }
      min_tm: { type: number, minimum: 30, maximum: 90 }
      max_tm: { type: number, minimum: 30, maximum: 90 }
      opt_gc: { type: number, minimum: 0, maximum: 100 }
      min_gc: { type: number, minimum: 0, maximum: 100 }
      max_gc: { type: number, minimum: 0, maximum: 100 }
      max_tm_diff: { type: number, minimum: 0, maximum: 30 }
      max_poly_x: { type: integer, minimum: 0, maximum: 10 }
      gc_clamp: { type: integer, minimum: 0, maximum: 5 }
      max_end_stability: { type: number, minimum: 0, maximum: 100 }
      salt_monovalent: { type: number, minimum: 0, maximum: 1000 }
      salt_divalent: { type: number, minimum: 0, maximum: 100 }
      dntp_conc: { type: number, minimum: 0, maximum: 100 }
      dna_conc: { type: number, minimum: 0, maximum: 10000 }
      product_size_ranges:
        type: array
        minItems: 1
        maxItems: 4
        items:
          type: array
          minItems: 2
          maxItems: 2
          items: { type: integer, minimum: 20, maximum: 1000 }
  PrimerGenotypingRequest:
    description: "Design allele-specific primer sets for one variant. Omit optional fields rather than sending null."
    type: object
    required: [system_name, variant]
    additionalProperties: false
    properties:
      system_name: { type: string, pattern: "^[a-z0-9_]+$", maxLength: 128 }
      variant: { $ref: "#/definitions/PrimerVariantInput" }
      assay: { $ref: "#/definitions/PrimerGenotypingAssay" }
      avoid_repeats: { type: boolean, description: "default false (section 4.5; a default to confirm, section 11 item 6); when true, the allele-specific window is always exempt from the mask" }
      repeat_mask_mode: { type: string, enum: [n_mask, three_prime] }
      template_only: { type: boolean, description: "resolve and verify the variant and return the template; Primer3 is not run" }
      label: { type: string, pattern: "^[A-Za-z0-9_.-]{1,40}$", description: "prefix of order-sheet oligo names; default: first variant id, else key" }
      params: { $ref: "#/definitions/PrimerGenotypingParams" }
  PrimerNeighbourHit:
    type: object
    properties:
      key: { type: string }
      ids: { type: array, items: { type: string } }
      label: { type: string }
      start: { type: integer }
      end: { type: integer }
      alleles: { type: string, description: "Ensembl allele string, e.g. A/T or -/GT" }
      ems: { type: boolean }
      distance_from_3p:
        type: integer
        x-nullable: true
        description: "1 = the primer's own 3'-terminal base, measured along the primer (minimum over the neighbour's span); null in orientation blockers, where no primer exists yet"
  PrimerLikelihoodAt:
    type: object
    properties:
      mm_pos: { type: array, items: { type: integer }, description: "mismatch distances from the 3' end, 5'->3' (1 = terminal)" }
      likelihood: { type: string, enum: [likely, likely_weak, unlikely] }
  PrimerDeliberateMismatch:
    type: object
    x-nullable: true
    properties:
      position: { type: integer, enum: [2, 3], description: "distance from the 3' end" }
      original_base: { type: string }
      new_base: { type: string }
      template_base: { type: string, description: "template base opposite the mismatch position (complement of original_base)" }
      terminal_pair: { type: string, pattern: "^[ACGT]{2}$", description: "unordered pair used as the table row: the primer's 3' base and the other allele's base on the template strand the primer anneals to, written in alphabetical order, e.g. AG or CT" }
      terminal_mismatch_class: { type: string, enum: [max, strong, medium, weak] }
      added_mismatch_class: { type: string, enum: [max, strong, medium, weak] }
      source: { type: string, description: "Little 1995 Table 9.8.1, or the same table applied at -3 (extrapolated)" }
  PrimerGenotypingDiscrimination:
    type: object
    x-nullable: true
    description: "allele-specific primers only"
    properties:
      own_allele: { $ref: "#/definitions/PrimerLikelihoodAt" }
      other_allele: { $ref: "#/definitions/PrimerLikelihoodAt" }
      terminal_mismatch_class: { type: string, enum: [max, strong, medium, weak], description: "Little 1995 class of the 3' base against the other allele" }
      in_shift_tract: { type: boolean, description: "the primer's 3' base, on its own haplotype, lies inside the variant's shift tract (section 3.5: the reference bases an indel with shift > 0 can slide through, anchor base excluded); for as_alt an inserted base counts as inside. On the other allele's genomes the check reports this primer as uncertain (sections 4.12, 5.7)" }
  PrimerTailedStructures:
    type: object
    x-nullable: true
    properties:
      hairpin_th: { type: number }
      self_any_th: { type: number }
      self_end_th: { type: number }
  PrimerOligoTemplateSpan:
    type: object
    properties:
      start: { type: integer }
      end: { type: integer }
      sequence: { type: string, enum: [ref, alt], description: "which template the span indexes: template.seq or template.alt_seq" }
  PrimerGenotypingOligo:
    type: object
    properties:
      role: { type: string, enum: [as_ref, as_alt, common] }
      allele: { type: string, x-nullable: true, description: "plus-strand allele this primer detects (vcf.ref or vcf.alt); null for the common primer" }
      three_prime_base: { type: string }
      haplotype: { type: string, enum: [ref, alt, both] }
      target_seq: { type: string, description: "anneals; as ordered (includes any deliberate mismatch); the only sequence sent to /primers/check" }
      matched_seq: { type: string, description: "perfect-match sequence before any deliberate mismatch" }
      dye: { type: string, enum: [FAM, HEX], x-nullable: true }
      tail_seq: { type: string, x-nullable: true }
      order_seq: { type: string, description: "tail_seq + target_seq" }
      len: { type: integer, description: "length of target_seq" }
      order_len: { type: integer }
      tm: { type: number, description: "Primer3 Tm of target_seq, or the own-allele duplex Tm for a deliberate-mismatch primer (see tm_method)" }
      tm_method: { type: string, enum: [primer3, ntthal_duplex] }
      matched_tm: { type: number, x-nullable: true, description: "deliberate-mismatch primers only: Primer3 Tm of matched_seq; the Tm floor is applied to this value" }
      gc: { type: number, description: "100 x GC / len of target_seq, rounded half away from zero to 2 decimals from the exact ratio (section 2.1); computed from the sequence, not parsed from Primer3" }
      hairpin_th: { type: number }
      self_any_th: { type: number }
      self_end_th: { type: number }
      end_stability: { type: number }
      primer3_problems: { type: string, x-nullable: true, description: "PRIMER_*_PROBLEMS text from the scoring run, e.g. ' Temperature too low;'; informational, the hard floors of section 4.6 decide acceptance" }
      template: { $ref: "#/definitions/PrimerOligoTemplateSpan" }
      genomic: { $ref: "#/definitions/PrimerGenomicLocation" }
      inserted_bases: { type: integer, description: "bases of this primer that have no reference coordinate (inside an insertion)" }
      deliberate_mismatch: { $ref: "#/definitions/PrimerDeliberateMismatch" }
      discrimination: { $ref: "#/definitions/PrimerGenotypingDiscrimination" }
      tailed: { $ref: "#/definitions/PrimerTailedStructures" }
      neighbours: { type: array, items: { $ref: "#/definitions/PrimerNeighbourHit" }, description: "known variants under this primer, sorted by distance_from_3p ascending" }
  PrimerGenotypingOrderRow:
    type: object
    properties:
      name: { type: string }
      set_id: { type: string }
      set_key: { type: string }
      role: { type: string, enum: [as_ref, as_alt, common] }
      allele: { type: string, x-nullable: true }
      dye: { type: string, enum: [FAM, HEX], x-nullable: true }
      order_seq: { type: string }
      target_seq: { type: string }
      tail_seq: { type: string, x-nullable: true }
      length: { type: integer }
      tm: { type: number }
      gc: { type: number }
      orientation: { type: string, enum: [forward, reverse] }
      product_size_ref: { type: integer }
      product_size_alt: { type: integer }
      variant_key: { type: string }
      notes: { type: string }
  PrimerCheckPairFragment:
    type: object
    description: "one pairs[] item of the check request this set needs; mirrors PrimerCheckRequest.pairs.items plus nothing"
    properties:
      id: { type: string }
      left: { type: string }
      right: { type: string }
      expected:
        type: object
        properties:
          region: { type: string }
          start: { type: integer }
          end: { type: integer }
  PrimerGenotypingSetRef:
    type: object
    properties:
      id: { type: string }
      ref_pair: { type: string }
      alt_pair: { type: string }
  PrimerGenotypingCheckFragment:
    type: object
    properties:
      set: { $ref: "#/definitions/PrimerGenotypingSetRef" }
      pairs: { type: array, items: { $ref: "#/definitions/PrimerCheckPairFragment" } }
  PrimerGenotypingProduct:
    type: object
    properties:
      size: { type: integer }
      template: { $ref: "#/definitions/PrimerOligoTemplateSpan" }
      genomic: { $ref: "#/definitions/PrimerGenomicLocation" }
      inserted_bases: { type: integer, description: "ALT products only: bases of the product with no reference coordinate" }
  PrimerGenotypingPairThermo:
    type: object
    properties:
      compl_any_th: { type: number }
      compl_end_th: { type: number }
  PrimerGenotypingTailedThermo:
    type: object
    x-nullable: true
    properties:
      ref_alt_any_th: { type: number }
      ref_alt_end_th: { type: number }
      ref_common_any_th: { type: number }
      ref_common_end_th: { type: number }
      alt_common_any_th: { type: number }
      alt_common_end_th: { type: number }
  PrimerGenotypingSetIssue:
    type: object
    properties:
      code: { type: string }
      severity: { type: string, enum: [info, warn, high] }
      message: { type: string }
      details: { type: object }
  PrimerGenotypingSet:
    type: object
    properties:
      id: { type: string, pattern: "^S[0-9]+$" }
      key: { type: string, pattern: "^[0-9a-f]{12}$" }
      rank: { type: integer, description: "0-based; id is S(rank+1)" }
      orientation: { type: string, enum: [forward, reverse] }
      relaxation_level: { type: integer, minimum: 0, maximum: 2 }
      quality: { type: string, enum: [good, usable, poor] }
      score: { type: number, description: "ranking score, lower is better: the exact sum of rules S1-S6 of section 4.16, rounded half away from zero to 2 decimals (section 2.1)" }
      primers:
        type: object
        properties:
          as_ref: { $ref: "#/definitions/PrimerGenotypingOligo" }
          as_alt: { $ref: "#/definitions/PrimerGenotypingOligo" }
          common: { $ref: "#/definitions/PrimerGenotypingOligo" }
      products:
        type: object
        properties:
          ref: { $ref: "#/definitions/PrimerGenotypingProduct" }
          alt: { $ref: "#/definitions/PrimerGenotypingProduct" }
      thermo:
        type: object
        properties:
          ref_common: { $ref: "#/definitions/PrimerGenotypingPairThermo" }
          alt_common: { $ref: "#/definitions/PrimerGenotypingPairThermo" }
          tailed: { $ref: "#/definitions/PrimerGenotypingTailedThermo" }
      tm_balance:
        type: object
        properties:
          as_tm_diff: { type: number, description: "|as_ref.tm - as_alt.tm| from unrounded values, rounded to 2 decimals (sections 2.1, 4.13)" }
          common_minus_as: { type: number, description: "common.tm - max(nominal Tm of the two allele-specific primers) from unrounded values, rounded to 2 decimals (sections 2.1, 4.13)" }
      neighbour_sites: { type: integer, description: "distinct non-EMS neighbour keys under the three primers" }
      primer3_penalty: { type: number, description: "PRIMER_PAIR_i_PENALTY of the design-run pair i this set was built from (its as_ref and common primers), rounded half away from zero to 4 decimals; that is PRIMER_PAIR_0_PENALTY only when i = 0 (section 4.16 S1)" }
      warnings: { type: array, items: { $ref: "#/definitions/PrimerWarning" }, description: "the issues of severity warn or high, as {code, message, details}; info issues appear only in issues" }
      issues: { type: array, items: { $ref: "#/definitions/PrimerGenotypingSetIssue" }, description: "every issue of the set, with its severity" }
      check: { $ref: "#/definitions/PrimerGenotypingCheckFragment" }
      order: { type: array, items: { $ref: "#/definitions/PrimerGenotypingOrderRow" } }
  PrimerGenotypingExplainSide:
    type: object
    description: "parsed Primer3 explain line; 'raw' plus one integer per reason, as PrimerDesignResponse.explain"
    properties:
      raw: { type: string }
    additionalProperties: { type: integer }
  PrimerGenotypingRejected:
    type: object
    properties:
      force: { type: integer, description: "Primer3 ignored the forced 3' end (never observed)" }
      overlap: { type: integer, description: "common primer footprint touched the zone or an AS footprint on either haplotype" }
      common_neighbour_3p: { type: integer }
      alt_scoring_failed: { type: integer, description: "the ALT or mismatch check_primers run returned no value for the derived oligo, or PRIMER_ERROR (section 4.7)" }
      below_floor: { type: integer, description: "an AS primer was under the Tm or GC floor" }
      duplicate: { type: integer }
  PrimerGenotypingAttempt:
    type: object
    properties:
      level: { type: integer }
      changes: { type: object, description: "param changes of this level (empty at level 0); pinned params excluded" }
      explain:
        type: object
        properties:
          left: { $ref: "#/definitions/PrimerGenotypingExplainSide" }
          right: { $ref: "#/definitions/PrimerGenotypingExplainSide" }
          pair: { $ref: "#/definitions/PrimerGenotypingExplainSide" }
      pairs_returned: { type: integer, description: "pairs Primer3 returned at this level (PRIMER_NUM_RETURN 20); always the sum of rejected, not_scored and sets" }
      rejected: { $ref: "#/definitions/PrimerGenotypingRejected" }
      not_scored: { type: integer, description: "pairs left unscored because the orientation already held max_scored_per_orientation candidates or the design budget could not cover them (section 4.8)" }
      sets: { type: integer, description: "candidates from this level that were scored and kept" }
  PrimerGenotypingOrientation:
    type: object
    properties:
      status: { type: string, enum: [ok, no_sets, blocked, skipped] }
      reason:
        type: string
        x-nullable: true
        enum: [neighbour_at_3p, too_close_to_end, n_in_primer_window, not_requested, below_floor, budget_exhausted]
      discriminating_position: { type: integer }
      relaxation_level: { type: integer, x-nullable: true }
      sets_found: { type: integer, description: "scored candidates in this orientation over all attempted levels, at most max_scored_per_orientation (8); the response's sets are the best num_sets over both orientations" }
      blockers: { type: array, items: { $ref: "#/definitions/PrimerNeighbourHit" } }
      attempts: { type: array, items: { $ref: "#/definitions/PrimerGenotypingAttempt" } }
  PrimerGenotypingTemplateFeatures:
    type: object
    properties:
      variant: { type: object, properties: { start: { type: integer }, end: { type: integer } }, description: "template span of vcf.ref" }
      zone: { type: object, properties: { start: { type: integer }, end: { type: integer } }, description: "guarded span in template coordinates" }
[...]
