swagger: "2.0"
info:
  version: "0.59.0"
  title: API for sorghumbase release 11
# basePath prefixes all resource paths
basePath: /sorghum_v11
# public host clients build request URLs against (TLS terminated by apache,
# proxied to the swagger server on squam:50011). For local-only testing,
# override with host: localhost:50011 and add http to schemes below.
host: data.sorghumbase.org
schemes:
  # tip: remove http to make production-grade
  # - http
  - https
# format of bodies a client can send (Content-Type)
consumes:
  - application/json
# format of the responses to the client (Accepts)
produces:
  - application/json
  - application/xml
  - text/plain
  - text/tab-separated-values
paths:
  /gxa:
    x-swagger-router-controller: gxa
    get:
      summary: Redirect to EBI
      operationId: redirectToEbi
      responses:
        301:
          description: Redirecting

  /gxa/json/experiments/{experiment_id}:
    x-swagger-router-controller: gxa
    post:
      summary: "Fetch reference study expression profiles"
      description: "Accepts a list of gene ids and returns gxa response"
      operationId: one_baseline_experiment
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - name: experiment_id
          in: path
          required: true
          type: string
          description: "The unique ID of an experiment"
        - in: body
          name: geneQuery
          description: list of gene ids
          required: true
          schema:
            type: array
            items:
              type: string
      responses:
        200:
          description: Successful expression response

  /gxa/json/baseline_experiments:
    x-swagger-router-controller: gxa
    post:
      summary: "Fetch baseline expression profiles"
      description: "Accepts a list of gene ids and returns gxa response"
      operationId: baseline_experiments
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - in: body
          name: geneQuery
          description: list of gene ids
          required: true
          schema:
            type: array
            items:
              type: string
      responses:
        200:
          description: Successful expression response

  /docs:
    get:
      summary: "Web site describing this API"
      tags:
        - "API Documentation"
      responses:
        200:
          description: "HTML documentation for this web service, powered by swagger."
#  /ensembl:
#    get:
#      summary: "Proxy to Gramene's Ensembl REST installation"
#      description: "Please refer to rest.ensembl.org for documentation\n"
#      tags:
#        - "Ensembl REST"
#      responses:
#        200:
#          description: "Ensembl REST response"
#  /reactome:
#    get:
#      summary: "Proxy to Gramene's Plant Reactome REST API"
#      description: "Reactome RESTful API <a href='http://reactomews.oicr.on.ca:8080/ReactomeRESTfulAPI/ReactomeRESTFulAPI.html'>documentation</a>"
#      tags:
#        - "Plant Reactome REST"
#      responses:
#        200:
#          description: "plant reactome response"
#  /reactome/pathwayHierarchy/{species}:
#    get:
#      summary: "pathway hierarchy"
#      description: "Get the pathway hierarchy for a specified species as displayed in Reactome pathway browser."
#      tags:
#        - "Plant Reactome REST"
#      produces:
#        - "application/xml"
#      responses:
#        200:
#          description: "String - XML text containing pathways and reactions"
#      parameters:
#        -
#          name: "species"
#          in: "path"
#          description: "Full species name that should be encoded for URL (e.g. oryza+sativa, or zea+mays)"
#          type: "string"
#          required: true
  /swagger:
    x-swagger-pipe: swagger_raw

  /search:
    x-swagger-router-controller: solr
    get:
      summary: "Gramene Data"
      operationId: genes
      description: "This is the entry point for searching our solr genes core.\n"
      parameters:
        -
          name: "q"
          in: "query"
          description: "query string."
          required: false
          type: "string"
        -
          name: "fl"
          in: "query"
          description: "List of fields to include in response (default all)."
          required: false
          type: "array"
          items:
            type: "string"
        -
          name: "wt"
          in: "query"
          description: "response format defaults to 'json'."
          enum:
            - "json"
            - "xml"
            - "csv"
            - "bed"
          type: "string"
          required: false
        - 
          name: "facet.field"
          in: "query"
          description: "Facet field parameters"
          required: false
          type: "array"
          items:
            type: "string"
        -
          name: "fq"
          in: "query"
          description: "Filter query parameters"
          required: false
          type: "array"
          items:
            type: "string"
          collectionFormat: "multi"
        -
          name: "json.facet"
          in: "query"
          description: "Supply all facets as a structured document."
          required: false
          type: "string"
        -
          name: "stats.field"
          in: "query"
          description: "Get stats on a given field."
          required: false
          type: "array"
          items:
            type: "string"
          collectionFormat: "multi"
        -
          name: "rows"
          in: "query"
          description: "number of rows to return (default: 20)"
          required: false
          type: "integer"
        -
          name: "start"
          in: "query"
          description: "offset into results list"
          type: "integer"
          required: false
      tags:
        - "Search"
      responses:
        200:
          description: "Gene search response object"
          schema:
            $ref: "#/definitions/SearchResponse"
  /suggest:
    x-swagger-router-controller: solr
    get:
      summary: "Genes"
      operationId: suggestions
      description: "This is the entry point for searching our solr genes core.\n"
      parameters:
        -
          name: "q"
          in: "query"
          description: "query string."
          required: true
          type: "string"
        -
          name: "fq"
          in: "query"
          description: "Filter query parameters"
          required: false
          type: "array"
          items:
            type: "string"
        -
          name: "rows"
          in: "query"
          description: "number of rows to return (default: 20)"
          required: false
          type: "integer"
        -
          name: "start"
          in: "query"
          description: "offset into results list"
          type: "integer"
          required: false
      tags:
        - "Search"
      responses:
        200:
          description: "Suggest response"
          schema:
            $ref: "#/definitions/SolrSuggestResponse"
  /gene_lists:
    x-swagger-router-controller: mongo
    get:
      summary: "Fetch saved lists"
      description: "Fetchs saved lists for a validated user or public lists"
      tags:
        - "User Data"
      operationId: genelists
      parameters:
        - in: query
          name: isPublic
          description: Return public gene lists
          type: boolean
          required: true
        - in: query
          name: site
          description: site identifier
          type: string
          required: true
        -
          name: "rows"
          in: "query"
          description: "number of lists to return (default: 20)"
          required: false
          type: "integer"
        - in: query
          name: includeDeleted
          description: "which lists to return: 'active' (default) or 'trash' (owner's soft-deleted lists)"
          required: false
          type: string
          enum:
            - active
            - trash
      responses:
        200:
          description: Metadata for all personal or public gene lists
        401:
          description: Authorization failed
    post:
      summary: "Save a validated list of IDs"
      description: "Accepts list metadata and upserts to mongo"
      tags:
        - "User Data"
      operationId: saveList
      consumes:
        - application/json
      parameters:
        - in: body
          name: list
          description: "list metadata plus the resolved gene ids. The server derives n_genes and computes the hash."
          required: true
          schema:
            type: object
            required:
              - label
              - site
              - ids
            properties:
              label:
                type: string
                maxLength: 255
              site:
                type: string
                maxLength: 64
              isPublic:
                type: boolean
              ids:
                type: array
                maxItems: 6000
                items:
                  type: string
                  maxLength: 255
      responses:
        200:
          description: "List saved; returns the server-computed hash"
        400:
          description: "Invalid body (missing label/site/ids, too many ids, or a client-supplied hash)"
        401:
          description: Authorization failed
    delete:
      summary: "Delete a saved gene list"
      description: "Deletes a gene list owned by the authenticated user"
      tags:
        - "User Data"
      operationId: deleteList
      parameters:
        - in: query
          name: listId
          description: id of the gene list to delete
          type: string
          required: true
        - in: query
          name: force
          description: "if true, permanently delete now instead of the 30-day soft delete"
          type: boolean
          required: false
      responses:
        200:
          description: List deleted (soft by default; permanent if force=true)
        401:
          description: Authorization failed
        404:
          description: List not found or not owned by user
    patch:
      summary: "Update a saved gene list"
      description: "Updates label and/or isPublic on a gene list owned by the authenticated user"
      tags:
        - "User Data"
      operationId: updateList
      consumes:
        - application/json
      parameters:
        - in: query
          name: listId
          description: id of the gene list to update
          type: string
          required: true
        - in: body
          name: updates
          description: fields to update
          required: true
          schema:
            type: object
            properties:
              label:
                type: string
              isPublic:
                type: boolean
      responses:
        200:
          description: List updated
        400:
          description: No valid fields to update
        401:
          description: Authorization failed
        404:
          description: List not found or not owned by user
  /gene_lists/restore:
    x-swagger-router-controller: mongo
    post:
      summary: "Restore a soft-deleted gene list"
      description: "Un-marks a soft-deleted gene list (clears deletedAt) for its owner, within the 30-day window"
      tags:
        - "User Data"
      operationId: restoreList
      parameters:
        - in: query
          name: listId
          description: id of the gene list to restore
          type: string
          required: true
      responses:
        200:
          description: List restored
        401:
          description: Authorization failed
        404:
          description: No deleted list to restore (already purged or not owned)
  /gene_lists/validate:
    x-swagger-router-controller: solr
    post:
      summary: "Validate a list of IDs"
      description: "Accepts a list of IDs and returns validation results"
      tags:
        - "User Data"
      operationId: validate
      consumes:
        - application/json
      parameters:
        - in: body
          name: ids
          description: "list of gene identifiers; stable ids and alternate ids are both accepted"
          required: true
          schema:
            type: array
            maxItems: 6000
            items:
              type: string
              maxLength: 255
      responses:
        200:
          description: Successful validation response
  /saved_views:
    x-swagger-router-controller: mongo
    get:
      summary: "Fetch saved view snapshots"
      description: |
        Two modes:
          1. ?hash=H — single-doc lookup by share token. Returns the row if
             it's public; if not public, requires the Bearer token of the
             owner.
          2. ?site=S&isPublic=B — listing. Public listings are anonymous-OK;
             private listings require an authenticated Bearer token and are
             scoped to that user's own rows.
      tags:
        - "User Data"
      operationId: savedviews
      parameters:
        - in: query
          name: hash
          description: share-token lookup for a single saved view
          type: string
          required: false
        - in: query
          name: site
          description: site identifier (listing mode)
          type: string
          required: false
        - in: query
          name: isPublic
          description: return public saved views (listing mode)
          type: boolean
          required: false
        - in: query
          name: rows
          description: "number of rows to return in listing mode (default: 20)"
          type: integer
          required: false
      responses:
        200:
          description: Single saved view (hash mode) or array of metadata (listing mode)
        401:
          description: Authorization failed
        404:
          description: Saved view not found
    post:
      summary: "Save a view snapshot"
      description: "Upserts the snapshot keyed by hash+uid. Existing createdAt is preserved on re-save."
      tags:
        - "User Data"
      operationId: saveView
      consumes:
        - application/json
      parameters:
        - in: body
          name: body
          description: snapshot metadata + state
          required: true
          schema:
            type: object
            required:
              - hash
              - label
              - site
              - isPublic
              - state
            properties:
              hash:
                type: string
                description: short content-addressable share token
              label:
                type: string
              description:
                type: string
              site:
                type: string
              isPublic:
                type: boolean
              state:
                type: object
                description: the snapshot JSON blob (schema versioned client-side)
                additionalProperties: true
      responses:
        200:
          description: View saved
        401:
          description: Authorization failed
    patch:
      summary: "Update a saved view's label/visibility"
      description: "label and/or isPublic only — the snapshot itself is immutable; a re-save with new state produces a new hash."
      tags:
        - "User Data"
      operationId: updateView
      consumes:
        - application/json
      parameters:
        - in: query
          name: viewId
          description: internal id of the saved view to update
          type: string
          required: true
        - in: body
          name: updates
          description: fields to update
          required: true
          schema:
            type: object
            properties:
              label:
                type: string
              isPublic:
                type: boolean
      responses:
        200:
          description: View updated
        400:
          description: No valid fields to update
        401:
          description: Authorization failed
        404:
          description: View not found or not owned by user
    delete:
      summary: "Delete a saved view"
      description: "Owner-only."
      tags:
        - "User Data"
      operationId: deleteView
      parameters:
        - in: query
          name: viewId
          description: internal id of the saved view to delete
          type: string
          required: true
      responses:
        200:
          description: View deleted
        401:
          description: Authorization failed
        404:
          description: View not found or not owned by user

  /genes:
    x-swagger-router-controller: mongo
    get:
      summary: "MongoDB"
      operationId: genes
      description: "Fetch documents from a collection"
      parameters:
        - $ref: "#/parameters/q"
        - $ref: "#/parameters/rows"
        - $ref: "#/parameters/start"
        - $ref: "#/parameters/fl"
        - $ref: "#/parameters/wt"
        - $ref: "#/parameters/idList"
        - $ref: "#/parameters/bedFeature"
        - $ref: "#/parameters/bedCombiner"
        - $ref: "#/parameters/taxon_id"
        - $ref: "#/parameters/db_type"
      tags:
        - "Data access"
      responses:
        200:
          description: "MongoDB response object"
          schema:
            $ref: "#/definitions/MongoGenesResponse"
  /genetrees:
    x-swagger-router-controller: mongo
    get:
      summary: "MongoDB"
      operationId: genetrees
      description: "Fetch documents from a collection"
      parameters:
        - $ref: "#/parameters/q"
        - $ref: "#/parameters/rows"
        - $ref: "#/parameters/start"
        - $ref: "#/parameters/fl"
        - $ref: "#/parameters/wt"
        - $ref: "#/parameters/idList"
      tags:
        - "Data access"
      responses:
        200:
          description: "MongoDB response object"
          schema:
            $ref: "#/definitions/MongoGenetreesResponse"
  /maps:
    x-swagger-router-controller: mongo
    get:
      summary: "MongoDB"
      operationId: maps
      description: "Fetch documents from a collection"
      parameters:
        - $ref: "#/parameters/q"
        - $ref: "#/parameters/rows"
        - $ref: "#/parameters/start"
        - $ref: "#/parameters/fl"
        - $ref: "#/parameters/wt"
        - $ref: "#/parameters/idList"
      tags:
        - "Data access"
      responses:
        200:
          description: "MongoDB response object"
          schema:
            $ref: "#/definitions/MongoMapsResponse"
  /domains:
    x-swagger-router-controller: mongo
    get:
      summary: "MongoDB"
      operationId: domains
      description: "Fetch documents from a collection"
      parameters:
        - $ref: "#/parameters/q"
        - $ref: "#/parameters/rows"
        - $ref: "#/parameters/start"
        - $ref: "#/parameters/fl"
        - $ref: "#/parameters/wt"
        - $ref: "#/parameters/idList"
      tags:
        - "Data access"
      responses:
        200:
          description: "MongoDB response object"
          schema:
            $ref: "#/definitions/InterProResponse"
  /taxonomy:
    x-swagger-router-controller: mongo
    get:
      summary: "MongoDB"
      operationId: taxonomy
      description: "Fetch documents from a collection"
      parameters:
        - $ref: "#/parameters/q"
        - $ref: "#/parameters/rows"
        - $ref: "#/parameters/start"
        - $ref: "#/parameters/fl"
        - $ref: "#/parameters/wt"
        - $ref: "#/parameters/idList"
        - $ref: "#/parameters/subset"
      tags:
        - "Data access"
      responses:
        200:
          description: "MongoDB response object"
          schema:
            $ref: "#/definitions/TaxonomyResponse"
  /GO:
    x-swagger-router-controller: mongo
    get:
      summary: "MongoDB"
      operationId: GO
      description: "Fetch documents from a collection"
      parameters:
        - $ref: "#/parameters/q"
        - $ref: "#/parameters/rows"
        - $ref: "#/parameters/start"
        - $ref: "#/parameters/fl"
        - $ref: "#/parameters/wt"
        - $ref: "#/parameters/idList"
      tags:
        - "Data access"
      responses:
        200:
          description: "MongoDB response object"
          schema:
            $ref: "#/definitions/OntologyResponse"
  /PO:
    x-swagger-router-controller: mongo
    get:
      summary: "MongoDB"
      operationId: PO
      description: "Fetch documents from a collection"
      parameters:
        - $ref: "#/parameters/q"
        - $ref: "#/parameters/rows"
        - $ref: "#/parameters/start"
        - $ref: "#/parameters/fl"
        - $ref: "#/parameters/wt"
        - $ref: "#/parameters/idList"
      tags:
        - "Data access"
      responses:
        200:
          description: "MongoDB response object"
          schema:
            $ref: "#/definitions/OntologyResponse"
  /TO:
    x-swagger-router-controller: mongo
    get:
      summary: "MongoDB"
      operationId: TO
      description: "Fetch documents from a collection"
      parameters:
        - $ref: "#/parameters/q"
        - $ref: "#/parameters/rows"
        - $ref: "#/parameters/start"
        - $ref: "#/parameters/fl"
        - $ref: "#/parameters/wt"
        - $ref: "#/parameters/idList"
      tags:
        - "Data access"
      responses:
        200:
          description: "MongoDB response object"
          schema:
            $ref: "#/definitions/OntologyResponse"
  /qtls:
    x-swagger-router-controller: mongo
    get:
      summary: "MongoDB"
      operationId: qtls
      description: "Fetch documents from a collection"
      parameters:
        - $ref: "#/parameters/q"
        - $ref: "#/parameters/rows"
        - $ref: "#/parameters/start"
        - $ref: "#/parameters/fl"
        - $ref: "#/parameters/wt"
        - $ref: "#/parameters/idList"
      tags:
        - "Data access"
      responses:
        200:
          description: "MongoDB response object"
          schema:
            $ref: "#/definitions/OntologyResponse"
  /pathways:
    x-swagger-router-controller: mongo
    get:
      summary: "MongoDB"
      operationId: pathways
      description: "Fetch documents from a collection"
      parameters:
        - $ref: "#/parameters/q"
        - $ref: "#/parameters/rows"
        - $ref: "#/parameters/start"
        - $ref: "#/parameters/fl"
        - $ref: "#/parameters/wt"
        - $ref: "#/parameters/idList"
      tags:
        - "Data access"
      responses:
        200:
          description: "MongoDB response object"
          schema:
            $ref: "#/definitions/ReactomeEntityResponse"
  /expression:
    x-swagger-router-controller: mongo
    get:
      summary: "MongoDB"
      operationId: expression
      description: "Fetch expression data"
      parameters:
        - $ref: "#/parameters/q"
        - $ref: "#/parameters/rows"
        - $ref: "#/parameters/start"
        - $ref: "#/parameters/fl"
        - $ref: "#/parameters/wt"
        - $ref: "#/parameters/idList"
      tags:
        - "Data access"
      responses:
        200:
          description: "MongoDB response object"
  /expression_attributes:
    x-swagger-router-controller: mongo
    get:
      summary: "MongoDB"
      operationId: expression_attributes
      description: "Fetch per-gene expression summary attributes"
      parameters:
        - $ref: "#/parameters/q"
        - $ref: "#/parameters/taxon_id"
        - $ref: "#/parameters/rows"
        - $ref: "#/parameters/start"
        - $ref: "#/parameters/fl"
        - $ref: "#/parameters/wt"
        - $ref: "#/parameters/idList"
      tags:
        - "Data access"
      responses:
        200:
          description: "MongoDB response object"
  /assays:
    x-swagger-router-controller: mongo
    get:
      summary: "MongoDB"
      operationId: assays
      description: "Fetch documents from a collection"
      parameters:
        - $ref: "#/parameters/q"
        - $ref: "#/parameters/taxon_id"
        - $ref: "#/parameters/rows"
        - $ref: "#/parameters/start"
        - $ref: "#/parameters/fl"
        - $ref: "#/parameters/wt"
        - $ref: "#/parameters/idList"
      tags:
        - "Data access"
      responses:
        200:
          description: "MongoDB response object"
  /experiments:
    x-swagger-router-controller: mongo
    get:
      summary: "MongoDB"
      operationId: experiments
      description: "Fetch documents from a collection"
      parameters:
        - $ref: "#/parameters/q"
        - $ref: "#/parameters/taxon_id"
        - $ref: "#/parameters/rows"
        - $ref: "#/parameters/start"
        - $ref: "#/parameters/fl"
        - $ref: "#/parameters/wt"
        - $ref: "#/parameters/idList"
      tags:
        - "Data access"
      responses:
        200:
          description: "MongoDB response object"
  /germplasm:
    x-swagger-router-controller: mongo
    get:
      summary: "MongoDB"
      operationId: germplasm
      description: "Fetch documents from a collection"
      parameters:
        - $ref: "#/parameters/q"
        - $ref: "#/parameters/rows"
        - $ref: "#/parameters/start"
        - $ref: "#/parameters/fl"
        - $ref: "#/parameters/wt"
        - $ref: "#/parameters/idList"
      tags:
        - "Data access"
      responses:
        200:
          description: "MongoDB response object"

  # Primer design (docs/primer_design_api.md). These must stay before /{collection}.
  /primers/design:
    x-swagger-router-controller: primers
    post:
      summary: "Design PCR or qPCR primers"
      description: "Synchronous Primer3 2.6.1 design on a gene (with flanks), a spliced transcript (junction-spanning qPCR), a genomic region or a pasted sequence. Template coordinates are 1-based inclusive; intervals are [start, length]. Requires Content-Type: application/json. Every response is Cache-Control: no-store."
      operationId: designPrimers
      tags:
        - "Primer design"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: "design request; mode-specific required fields are checked by the handler"
          required: true
          schema:
            $ref: "#/definitions/PrimerDesignRequest"
      responses:
        200:
          description: "Template, primer pairs (possibly none, with warning NO_PAIRS), Primer3 explain counts, effective settings and warnings"
          schema:
            $ref: "#/definitions/PrimerDesignResponse"
        400:
          description: "Swagger validation errors ({message: 'Validation errors', errors[]}, e.g. INVALID_CONTENT_TYPE) or INVALID_REQUEST, INVALID_PARAMS, INVALID_SEQUENCE, TEMPLATE_TOO_LONG, REGION_OUT_OF_BOUNDS, INTERVAL_OUT_OF_BOUNDS, SYSTEM_NAME_MISMATCH, PRIMER3_INPUT_ERROR"
          schema:
            $ref: "#/definitions/PrimerError"
        404:
          description: "UNKNOWN_GENE, UNKNOWN_TRANSCRIPT, UNKNOWN_GENOME, UNKNOWN_REGION"
          schema:
            $ref: "#/definitions/PrimerError"
        413:
          description: "Request body larger than 100 kb"
        422:
          description: "NO_SEQUENCE, AMBIGUOUS_ASSEMBLY"
          schema:
            $ref: "#/definitions/PrimerError"
        500:
          description: "PRIMER3_FAILED, GENE_STRUCTURE_MISMATCH, INTERNAL"
          schema:
            $ref: "#/definitions/PrimerError"
        503:
          description: "BUSY, PRIMER3_UNAVAILABLE, FEATURE_DISABLED, MONGO_UNAVAILABLE; details.retry_after_s and a Retry-After header"
          schema:
            $ref: "#/definitions/PrimerError"
        504:
          description: "DEADLINE_EXCEEDED (45 s in total, 30 s for Primer3)"
          schema:
            $ref: "#/definitions/PrimerError"

  /primers/genomes:
    x-swagger-router-controller: primers
    get:
      summary: "Genomes of the same species, with sequence, BLAST database and repeat-masking availability"
      description: "The query genome first, then the other genomes of its species (first taxonomy ancestor of rank species) by display name. No filesystem paths are returned."
      operationId: primerGenomes
      tags:
        - "Primer design"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: query
          name: system_name
          description: "query genome, e.g. sorghum_bicolor"
          required: true
          type: string
          pattern: "^[a-z0-9_]+$"
          maxLength: 128
      responses:
        200:
          description: "species, counts and genomes"
          schema:
            $ref: "#/definitions/PrimerGenomesResponse"
        400:
          description: "Swagger validation errors (missing or malformed system_name)"
          schema:
            $ref: "#/definitions/PrimerError"
        404:
          description: "UNKNOWN_GENOME"
          schema:
            $ref: "#/definitions/PrimerError"
        503:
          description: "MONGO_UNAVAILABLE, FEATURE_DISABLED"
          schema:
            $ref: "#/definitions/PrimerError"

  /primers/check:
    x-swagger-router-controller: primers
    post:
      summary: "Submit a primer specificity / pan-genome check"
      description: "Queues a check job (BLAST against the reference genome, plus its transcriptome in transcript mode, and optionally every same-species genome). Job ids are deterministic: an identical request returns the existing job (200) instead of queueing a new one (202). Poll GET /primers/check/{job_id}."
      operationId: submitPrimerCheck
      tags:
        - "Primer design"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: "check request (frozen contract)"
          required: true
          schema:
            $ref: "#/definitions/PrimerCheckRequest"
      responses:
        200:
          description: "An identical job already exists (queued, running or done)"
          schema:
            $ref: "#/definitions/PrimerCheckJob"
        202:
          description: "A new job was queued (also when an errored job is re-queued)"
          schema:
            $ref: "#/definitions/PrimerCheckJob"
        400:
          description: "Swagger validation errors, or INVALID_REQUEST, INVALID_PARAMS (params.max_amplifying_mismatches not below ignore_mismatches), DUPLICATE_PAIR_ID, TOO_MANY_PRIMERS, PRODUCT_TOO_LONG_TO_CHECK, GENOME_NOT_CHECKABLE, SYSTEM_NAME_MISMATCH"
          schema:
            $ref: "#/definitions/PrimerError"
        404:
          description: "UNKNOWN_GENOME, UNKNOWN_GENE, UNKNOWN_TRANSCRIPT"
          schema:
            $ref: "#/definitions/PrimerError"
        422:
          description: "JOB_TOO_LARGE, NO_BLASTDB, AMBIGUOUS_ASSEMBLY"
          schema:
            $ref: "#/definitions/PrimerError"
        503:
          description: "QUEUE_FULL, JOB_STORE_UNAVAILABLE, FEATURE_DISABLED, MONGO_UNAVAILABLE; details.retry_after_s and a Retry-After header"
          schema:
            $ref: "#/definitions/PrimerError"

  /primers/check/{job_id}:
    x-swagger-router-controller: primers
    get:
      summary: "Check job status and results"
      description: "status queued, running (partial results while the pan-genome stage runs), done or error. Jobs expire (done 24 h, error 1 h), after which the id returns 404 UNKNOWN_JOB."
      operationId: getPrimerCheck
      tags:
        - "Primer design"
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: path
          name: job_id
          description: "32 lowercase hex characters"
          required: true
          type: string
          pattern: "^[0-9a-f]{32}$"
      responses:
        200:
          description: "Job status, progress and results (results null until there is something to show)"
          schema:
            $ref: "#/definitions/PrimerCheckJob"
        400:
          description: "Swagger validation errors (malformed job_id)"
          schema:
            $ref: "#/definitions/PrimerError"
        404:
          description: "UNKNOWN_JOB (unknown or expired)"
          schema:
            $ref: "#/definitions/PrimerError"
        503:
          description: "JOB_STORE_UNAVAILABLE, FEATURE_DISABLED"
          schema:
            $ref: "#/definitions/PrimerError"

  /{collection}:
    x-swagger-router-controller: mongo
    get:
      summary: "MongoDB"
      operationId: get
      description: "Legacy method for backward-compatibility. No schema specified for response document."
      parameters:
        - $ref: "#/parameters/collection"
        - $ref: "#/parameters/q"
        - $ref: "#/parameters/rows"
        - $ref: "#/parameters/start"
        - $ref: "#/parameters/fl"
        - $ref: "#/parameters/wt"
        - $ref: "#/parameters/idList"
      tags:
        - "Data access"
      responses:
        200:
          description: "MongoDB response object"
# complex objects have schema definitions
definitions:
  ResponseHeader:
    required:
     - status
     - QTime
     - params
    properties:
      status:
        type: integer
      QTime:
        type: integer
      params:
        type: object
  Suggestion:
    required:
     - category
     - id
     - fq_field
     - fq_value
     - display_name
     - num_genes
     - score
     - taxon_id
     - taxon_freq
    properties:
      category:
        type: string
      fq_field:
        type: string
      fq_value:
        type: string
      id:
        type: string
      display_name:
        type: string
      num_genes:
        type: integer
        minimum: 0
      score:
        type: number
        minimum: 0
      taxon_id:
        $ref: "#/definitions/int_id_list"
      taxon_freq:
        $ref: "#/definitions/int_id_list"        
  Suggestions:
    required:
      - docs
      - maxScore
      - numFound
      - start
    properties:
      docs:
        type: array
        items:
          $ref: "#/definitions/Suggestion"
      maxScore:
        type: number
        minimum: 0.0
      numFound:
        type: integer
        minimum: 0
      start:
        type: integer
        minimum: 0
  SuggestionType:
    required:
     - groupValue
     - doclist
    properties:
      groupValue:
        type: string
      doclist:
        $ref: "#/definitions/Suggestions"
  Category:
    type: object
    required:
     - matches
     - groups
    properties:
      matches:
        type: integer
      groups:
        type: array
        items:
          $ref: "#/definitions/SuggestionType"
  GroupedBy:
    required:
     - category
    properties:
      category:
        $ref: "#/definitions/Category"
  SolrSuggestResponse:
    required:
     - responseHeader
     - grouped
    properties:
      responseHeader:
        $ref: "#/definitions/ResponseHeader"
      grouped:
        $ref: "#/definitions/GroupedBy"
  Result:
    required:
      - id
      - name
      - description
      - taxon_id
      - biotype
      - score
      - capabilities
    properties:
      id:
        type: string
      name:
        type: string
      description:
        type: string
      summary:
        type: string
      taxon_id:
        type: integer
        minimum: 0
      score:
        type: number
      closest_rep_id:
        type: string
      closest_rep_identity:
        type: number
      closest_rep_name:
        type: string
      closest_rep_taxon_id:
        type: integer
      closest_rep_description:
        type: string
      model_rep_id:
        type: string
      model_rep_identity:
        type: number
      model_rep_name:
        type: string
      model_rep_taxon_id:
        type: integer
      model_rep_description:
        type: string
      capabilities:
        $ref: "#/definitions/capabilities"
      biotype:
        type: string
        enum:
          - "protein_coding"
          - "miRNA"
          - "ncRNA"
          - "low_confidence"
          - "transposable_element"
          - "snoRNA"
          - "tRNA"
          - "misc_RNA"
          - "undefined"
          - "pseudogene"
          - "tRNA_pseudogene"
          - "nontranslating_CDS"
          - "snRNA"
          - "rRNA"
          - "antisense"
          - "SRP_RNA"
          - "tmRNA"
          - "ribozyme"
          - "RNase_MRP_RNA"
          - "telomerase_RNA"
          - "P_RNA"
          - "RNase_P_RNA"
          - "vault_RNA"
  SolrFacetDocument:
    required:
      - facet_fields
    properties:
      facet_fields:
        type: object
  Results:
    required:
      - start
      - maxScore
      - numFound
    properties:
      numFound:
        type: integer
      start:
        type: integer
      maxScore:
        type: integer
      docs:
        type: array
        items:
          $ref: "#/definitions/Result"
  SearchResponse:
    required:
     - responseHeader
     - response
    properties:
      responseHeader:
        $ref: "#/definitions/ResponseHeader"
      response:
        $ref: "#/definitions/Results"
      facet_counts:
        $ref: "#/definitions/SolrFacetDocument"

  GeneDocument:
    required:
      - _id
      - name
      - description
      - taxon_id
      - system_name
      - biotype
      - db_type
      - gene_idx
      - species_idx
      - location
      - gene_structure
      - annotations
      - bins

    properties:
      _id:
        type: string
      name:
        type: string
      description:
        type: string
      summary:
        type: string
      db_type:
        type: string
      synonyms:
        type: array
        items:
          type: string
      taxon_id:
        type: integer
        minimum: 0
      gene_idx:
        type: integer
        minimum: 0
      species_idx:
        type: integer
        minimum: 0
      system_name:
        type: string
      biotype:
        type: string
        enum:
          - "protein_coding"
          - "miRNA"
          - "ncRNA"
          - "low_confidence"
          - "transposable_element"
          - "snoRNA"
          - "tRNA"
          - "misc_RNA"
          - "undefined"
          - "pseudogene"
          - "tRNA_pseudogene"
          - "nontranslating_CDS"
          - "snRNA"
          - "rRNA"
          - "antisense"
          - "SRP_RNA"
          - "tmRNA"
          - "ribozyme"
          - "RNase_MRP_RNA"
          - "telomerase_RNA"
          - "P_RNA"
          - "RNase_P_RNA"
          - "vault_RNA"
      gene_structure:
        $ref: "#/definitions/GeneStructure"
      annotations:
        $ref: "#/definitions/GeneAnnotations"
      bins:
        $ref: "#/definitions/GeneBins"
      homology:
        $ref: "#/definitions/GeneHomology"
      location:
        $ref: "#/definitions/GeneLocation"
      xrefs:
        type: array
        items:
          $ref: "#/definitions/GeneXref"
  GeneAnnotations:
    properties:
      GO:
        properties:
          entries:
            type: array
            items:
              $ref: "#/definitions/OntologyAnnotations"
          ancestors:
            $ref: "#/definitions/int_id_list"
      PO:
        properties:
          entries:
            type: array
            items:
              $ref: "#/definitions/OntologyAnnotations"
          ancestors:
            $ref: "#/definitions/int_id_list"
      domains:
        properties:
          entries:
            type: array
            items:
              $ref: "#/definitions/DomainAnnotations"
          ancestors:
            $ref: "#/definitions/int_id_list"
      taxonomy:
        properties:
          entries:
            type: array
            items:
              $ref: "#/definitions/TaxonomyAnnotations"
          ancestors:
            $ref: "#/definitions/int_id_list"
      pathways:
        properties:
          entries:
            type: array
            items:
              $ref: "#/definitions/PathwayAnnotations"
          ancestors:
            $ref: "#/definitions/int_id_list"
  OntologyAnnotations:
    properties:
      id:
        type: string
      name:
        type: string
      namespace:
        type: string
      def:
        type: string
      subset:
        $ref: "#/definitions/string_list"
      evidence_code:
        type: string
  DomainAnnotations:
    properties:
      id:
        type: string
      name:
        type: string
      description:
        type: string
  TaxonomyAnnotations:
    properties:
      _id:
        type: integer
      name:
        type: string
  PathwayAnnotations:
    properties:
      id:
        type: string
      name:
        type: string

  GeneBins:
    required:
      - fixed_100
      - fixed_200
      - fixed_500
      - fixed_1000
      - uniform_1Mb
      - uniform_2Mb
      - uniform_5Mb
      - uniform_10Mb
    properties:
      fixed_100:
        type: integer
        minimum: 0
      fixed_200:
        type: integer
        minimum: 0
      fixed_500:
        type: integer
        minimum: 0
      fixed_1000:
        type: integer
        minimum: 0
      uniform_1Mb:
        type: integer
        minimum: 0
      uniform_2Mb:
        type: integer
        minimum: 0
      uniform_5Mb:
        type: integer
        minimum: 0
      uniform_10Mb:
        type: integer
        minimum: 0

  GeneStructure:
    required:
      - exons
      - transcripts
      - canonical_transcript
    properties:
      exons:
        type: array
        items:
          $ref: "#/definitions/GeneExon"
      transcripts:
        type: array
        items:
          $ref: "#/definitions/GeneTranscript"
      canonical_transcript:
        type: string

  GeneExon:
    allOf:
      - $ref: "#/definitions/int_range"
      - required:
          - id
        properties:
          id:
            type: string

  GeneTranscript:
    required:
      - id
      - exons
      - exon_junctions
      - length

    properties:
      id:
        type: string
      cds:
        $ref: "#/definitions/int_range"
      exons:
        type: array
        items:
          type: string
      exon_junctions:
        type: array
        items:
          type: integer
          minimum: 0
      length:
        type: integer
        minimum: 0
      translation:
        $ref: "#/definitions/GeneTranslation"

  GeneTranslation:
    required:
      - id
      - length

    properties:
      id:
        type: string
      length:
        type: integer
        minimum: 1
      features:
        $ref: "#/definitions/TranslationFeatures"

  TranslationFeatures:
    properties:
      active_site:
        $ref: "#/definitions/InterProType"
      binding_site:
        $ref: "#/definitions/InterProType"
      conserved_site:
        $ref: "#/definitions/InterProType"
      domain:
        $ref: "#/definitions/InterProDomain"
      repeat:
        $ref: "#/definitions/InterProType"
      family:
        $ref: "#/definitions/InterProType"
      ptm:
        $ref: "#/definitions/InterProType"

  InterProType:
    properties:
      entries:
        type: array
        items:
          $ref: "#/definitions/DomainInstance"

  InterProDomain:
    allOf:
      - $ref: "#/definitions/InterProType"
      - properties:
          roots:
            type: string
          architecture:
            type: array
            items:
              $ref: "#/definitions/DomainInstance"

  DomainInstance:
    allOf:
      - $ref: "#/definitions/int_range"
      - required:
          - name
          - description
          - db
          - interpro
        properties:
          name:
            type: string
          description:
            type: string
          db:
            type: string
          interpro:
            type: string
          root:
            type: string

  GeneHomology:
    properties:
      gene_tree:
        $ref: '#/definitions/GeneTree'
      pan_tree:
        $ref: '#/definitions/GeneTree'
      homologous_genes:
        $ref: '#/definitions/HomologyTypes'

  HomologyTypes:
    properties:
      ortholog_one2one:
        $ref: '#/definitions/string_list'
      ortholog_one2many:
        $ref: '#/definitions/string_list'
      ortholog_many2many:
        $ref: '#/definitions/string_list'
      within_species_paralog:
        $ref: '#/definitions/string_list'
      other_paralog:
        $ref: '#/definitions/string_list'
      gene_split:
        $ref: '#/definitions/string_list'
      between_species_paralog:
        $ref: '#/definitions/string_list'
      alt_allele:
        $ref: '#/definitions/string_list'
      homoeolog_one2one:
        $ref: '#/definitions/string_list'
      homoeolog_one2many:
        $ref: '#/definitions/string_list'
      homoeolog_many2many:
        $ref: '#/definitions/string_list'
      syntenic_ortholog_one2one:
        $ref: '#/definitions/string_list'
      syntenic_ortholog_one2many:
        $ref: '#/definitions/string_list'
      syntenic_ortholog_many2many:
        $ref: '#/definitions/string_list'
      syntenic_between_species_paralog:
        $ref: '#/definitions/string_list'

  GeneTree:
    required:
      - id
      - root_taxon_id
      - root_taxon_name
    properties:
      id:
        type: string
      root_taxon_id:
        type: integer
      root_taxon_name:
        type: string
      representative:
        properties:
          closest:
            $ref: '#/definitions/GeneTreeRepresentative'
          model:
            $ref: '#/definitions/GeneTreeRepresentative'

  GeneTreeRepresentative:
    required:
      - id
      - taxon_id
      - name
      - description
    properties:
      id:
        type: string
      taxon_id:
        type: integer
      name:
        type: string
      description:
        type: string

  GeneLocation:
    allOf:
      - $ref: '#/definitions/int_range'
      -
        required:
         - map
         - region
         - strand
        properties:
          map:
            type: string
          region:
            type: string
          strand:
            type: integer
            enum:
              - 1
              - -1

  GeneXref:
    required:
      - db
      - ids
    properties:
      db:
        type: string
      ids:
        $ref: '#/definitions/string_list'

  MongoGenesResponse:
    type: array
    items:
      $ref: '#/definitions/GeneDocument'

  capabilities:
    type: array
    items:
      type: string
      enum:
       - "homology"
       - "xrefs"
       - "GO"
       - "domains"
       - "taxonomy"
       - "PO"
       - "pathways"
       - "location"
       - "expression"

  int_range:
    required:
      - start
      - end
    properties:
      start:
        type: integer
      end:
        type: integer

  string_list:
    type: array
    items:
      type: string

  int_id_list:
    type: array
    items:
      type: integer
      minimum: 0

  MongoGenetreesResponse:
    type: 'array'
    items:
      $ref: '#/definitions/GenetreeRootNode'

  GenetreeRootNode:
    allOf:
      - $ref: '#/definitions/GenetreeNode'
      -
        required:
          - root_id
          - tree_id
          - tree_stable_id
          - tree_type
        properties:
          root_id:
            type: integer
            minimum: 0
          tree_id:
            type: string
          tree_stable_id:
            type: string
          tree_type:
            type: string
            enum:
              - 'tree'
              - 'supertree'
  GenetreeNode:
    allOf:
      - $ref: '#/definitions/GenetreeInternalNode'
      - $ref: '#/definitions/GenetreeLeafNode'
      -
        required:
          - node_id
          - distance_to_parent
          - left_index
          - right_index
          - taxon_id
          - taxon_name
        properties:
          node_id:
            type: integer
            minimum: 0
          distance_to_parent:
            type: number
            minimum: 0.0
          left_index:
            type: integer
            minimum: 0
          right_index:
            type: integer
          taxon_id:
            type: integer
            minimum: 0
          taxon_name:
            type: string
            minimum: 0

  GenetreeInternalNode:
    properties:
      node_type:
        type: string
        enum:
          - "duplication"
          - "speciation"
          - "dubious"
          - "gene_split"
      bootstrap:
        type: integer
        minimum: 0
        maximum: 100
      duplication_confidence_score:
        type: number
      children:
        type: array
        items:
          $ref: '#/definitions/GenetreeNode'

  GenetreeLeafNode:
    properties:
      protein_stable_id:
        type: string
      gene_stable_id:
        type: string
      gene_description:
        type: string
      cigar:
        type: string
      sequence:
        type: string
      assembly:
        type: string
      representative:
        required:
          - id
          - score
        properties:
          id:
            type: string
          score:
            type: number

  MongoMapsResponse:
    required:
      - _id
      - db
      - taxon_id
      - system_name
      - display_name
      - type
      - length
      - regions
      - num_genes
    properties:
      _id:
        type: string
      db:
        type: string
      taxon_id:
        type: integer
        minimum: 0
      system_name:
        type: string
      display_name:
        type: string
      type:
        type: string
        enum:
          - "genome"
      length:
        type: integer
        minimum: 0
      regions:
        $ref: '#/definitions/Region'
      num_genes:
        type: integer
        minimum: 0

  Region:
    required:
      - names
      - lengths
    properties:
      names:
        type: array
        items:
          type: string
      lengths:
        type: array
        items:
          type: integer
          minimum: 0

  Term:
    required:
      - _id
      - id
      - name
      - ancestors
    properties:
      _id:
        type: integer
      id:
        type: string
      name:
        type: string
      ancestors:
        type: array
        items:
          type: integer

  InterProResponse:
    type: array
    items:
      $ref: '#/definitions/InterProDoc'

  TaxonomyResponse:
    type: array
    items:
      $ref: '#/definitions/Taxon'

  OntologyResponse:
    type: array
    items:
      $ref: '#/definitions/OntologyTerm'

  ReactomeEntityResponse:
    type: array
    items:
      $ref: '#/definitions/ReactomeEntity'

  InterProDoc:
    allOf:
      - $ref: '#/definitions/Term'
      -
        required:
          - parents
          - type
          - description
          - abstract
          - PFAM
          - PROFILE
          - SMART
          - PANDIT
          - MSDsite
          - BLOCKS
          - PROSITEDOC
          - PDB
          - CATH
          - SCOP
        properties:
          parents:
            type: array
            items:
              type: integer
          type:
            type: string
          description:
            type: string
          abstract:
            type: string
          PFAM:
            type: string
          PROFILE:
            type: string
          SMART:
            type: string
          PANDIT:
            type: string
          MSDsite:
            type: string
          BLOCKS:
            type: string
          PROSITEDOC:
            type: string
          PDB:
            type: array
            items:
              type: string
          CATH:
            type: array
            items:
              type: string
          SCOP:
            type: array
            items:
              type: string

  Taxon:
    allOf:
      - $ref: '#/definitions/Term'
      -
        required:
          - xref
          - synonym
          - namespace
        properties:
           namespace:
             type: string
           synonym:
             type: array
             items:
               type: string
           xref:
             type: array
             items:
               type: string
  OntologyTerm:
    allOf:
      - $ref: '#/definitions/Term'
      -
        required:
          - synonym
          - is_a
          - namespace
          - def
          - comment
        properties:
          synonym:
            type: array
            items:
              type: string
          is_a:
            type: array
            items:
              type: integer
          namespace:
            type: string
          def:
            type: string
          relationship:
            type: array
            items:
              type: string
          subset:
            type: array
            items:
              type: string
          is_obsolete:
            type: string
            enum:
              - "1"
          consider:
            type: array
            items:
              type: integer
          comment:
            type: array
            items:
              type: string

  ReactomeEntity:
    allOf:
      - $ref: '#/definitions/Term'
      -
        required:
          - lineage
          - type
          - parents
          - synonyms
        properties:
          lineage:
            type: array
            items:
              type: array
              items:
                type: integer
          type:
            type: string
          parents:
            type: array
            items:
              type: integer
          synonyms:
            type: array
            items:
              type: string

  # ---- Primer design (/primers/*) --------------------------------------------------------------------
  # Request definitions are strict (additionalProperties: false) and mirror api/helpers/primers/design.js
  # (TOP_LEVEL_FIELDS, PARAM_SPECS) and check/normalize.js (BODY_KEYS, PARAM_RULES);
  # test/primers/unit/contract.test.js keeps them in sync. PrimerCheckRequest is the frozen check contract.
  # Response definitions are documentation only (validateResponse is false); nullable fields carry x-nullable.
  PrimerInterval:
    description: "[start, length] in 1-based template coordinates"
    type: array
    minItems: 2
    maxItems: 2
    items:
      type: integer
      minimum: 1
  PrimerRegion:
    description: "Genomic region, 1-based inclusive; strand defaults to 1"
    type: object
    required: [region, start, end]
    additionalProperties: false
    properties:
      region: { type: string, maxLength: 255 }
      start: { type: integer, minimum: 1 }
      end: { type: integer, minimum: 1 }
      strand: { type: integer, enum: [1, -1] }
  PrimerDesignParams:
    description: "Closed set of Primer3 settings. Unset values come from the preset (pcr; qpcr in transcript mode). Cross-field rules (min <= opt <= max, max_size <= smallest product size, junction overlaps <= floor(max_size/2)) are checked by the handler (400 INVALID_PARAMS)."
    type: object
    additionalProperties: false
    properties:
      opt_size: { type: integer, minimum: 15, maximum: 36 }
      min_size: { type: integer, minimum: 15, maximum: 36 }
      max_size: { type: integer, minimum: 15, maximum: 36 }
      opt_tm: { type: number, minimum: 30, maximum: 90 }
      min_tm: { type: number, minimum: 30, maximum: 90 }
      max_tm: { type: number, minimum: 30, maximum: 90 }
      opt_gc: { type: number, minimum: 0, maximum: 100 }
      min_gc: { type: number, minimum: 0, maximum: 100 }
      max_gc: { type: number, minimum: 0, maximum: 100 }
      max_tm_diff: { type: number, minimum: 0, maximum: 30 }
      max_poly_x: { type: integer, minimum: 0, maximum: 10 }
      gc_clamp: { type: integer, minimum: 0, maximum: 5 }
      max_end_stability: { type: number, minimum: 0, maximum: 100 }
      max_ns: { type: integer, minimum: 0, maximum: 5 }
      salt_monovalent: { type: number, minimum: 0, maximum: 1000 }
      salt_divalent: { type: number, minimum: 0, maximum: 100 }
      dntp_conc: { type: number, minimum: 0, maximum: 100 }
      dna_conc: { type: number, minimum: 0, maximum: 10000 }
      num_return: { type: integer, minimum: 1, maximum: 20 }
      min_3_prime_overlap_of_junction: { type: integer, minimum: 1, maximum: 20 }
      min_5_prime_overlap_of_junction: { type: integer, minimum: 1, maximum: 20 }
      product_size_ranges:
        type: array
        minItems: 1
        maxItems: 10
        items:
          type: array
          minItems: 2
          maxItems: 2
          items: { type: integer, minimum: 20, maximum: 50000 }
  PrimerDesignRequest:
    description: "gene: gene_id (+ flank_up/flank_down, transcript_id overlay, system_name must match). transcript: gene_id (+ transcript_id, default canonical; junction_spanning, default true). region: system_name + region. sequence: sequence (FASTA headers allowed; several records are joined into one template with warning MULTIPLE_RECORDS; system_name optional). Omit optional fields rather than sending null."
    type: object
    required: [mode]
    additionalProperties: false
    properties:
      mode: { type: string, enum: [gene, transcript, region, sequence] }
      gene_id: { type: string, maxLength: 255 }
      transcript_id: { type: string, maxLength: 255 }
      system_name: { type: string, pattern: "^[a-z0-9_]+$", maxLength: 128 }
      region: { $ref: "#/definitions/PrimerRegion" }
      sequence: { type: string, maxLength: 60000 }
      flank_up: { type: integer, minimum: 0, maximum: 10000 }
      flank_down: { type: integer, minimum: 0, maximum: 10000 }
      target: { $ref: "#/definitions/PrimerInterval" }
      included: { $ref: "#/definitions/PrimerInterval" }
      excluded:
        type: array
        maxItems: 50
        items: { $ref: "#/definitions/PrimerInterval" }
      avoid_repeats: { type: boolean }
      repeat_mask_mode: { type: string, enum: [n_mask, three_prime] }
      junction_spanning: { type: boolean }
      template_only: { type: boolean, description: "return the template (with its mask) and no pairs; Primer3 is not run and product_size_ranges are not checked against the template length (every other rule still applies)" }
      params: { $ref: "#/definitions/PrimerDesignParams" }
  PrimerCheckRequest:
    description: "Frozen check contract. mode defaults to region; checks defaults to [specificity] and specificity always runs; genomes applies only with the pangenome check (omitted = every checkable same-species genome); expected is honoured only in gene and region modes."
    type: object
    required: [system_name, pairs]
    additionalProperties: false
    properties:
      system_name: { type: string, pattern: "^[a-z0-9_]+$", maxLength: 128 }
      mode: { type: string, enum: [gene, transcript, region, sequence] }
      gene_id: { type: string, maxLength: 255 }
      transcript_id: { type: string, maxLength: 255 }
      checks: { type: array, minItems: 1, maxItems: 2, items: { type: string, enum: [specificity, pangenome] } }
      genomes: { type: array, maxItems: 150, items: { type: string, pattern: "^[a-z0-9_]+$", maxLength: 128 } }
      params:
        type: object
        description: "Unset values take the defaults (max_product_size 4000, ignore_mismatches 6, min_total_mismatches 2, min_3p_mismatches 2, three_prime_window 5, include_unlikely false, repeat_site_threshold 5, max_amplifying_mismatches 3). max_amplifying_mismatches must be below ignore_mismatches (400 INVALID_PARAMS); when it is omitted, the default is lowered to ignore_mismatches - 1 if needed."
        additionalProperties: false
        properties:
          max_product_size: { type: integer, minimum: 50, maximum: 10000 }
          ignore_mismatches: { type: integer, minimum: 3, maximum: 6, description: "a primer site with this many edits cannot prime; its products are dropped" }
          min_total_mismatches: { type: integer, minimum: 0, maximum: 6 }
          min_3p_mismatches: { type: integer, minimum: 1, maximum: 5 }
          three_prime_window: { type: integer, minimum: 3, maximum: 10 }
          include_unlikely: { type: boolean }
          repeat_site_threshold: { type: integer, minimum: 1, maximum: 100 }
          max_amplifying_mismatches: { type: integer, minimum: 0, maximum: 5, description: "a product amplifies only if each primer site has at most this many edits (and passes the 3' rule); products over it are unlikely" }
      pairs:
        type: array
        minItems: 1
        maxItems: 10
        items:
          type: object
          required: [id, left, right]
          additionalProperties: false
          properties:
            id: { type: string, pattern: "^[A-Za-z0-9_.:-]+$", maxLength: 64 }
            left: { type: string, pattern: "^[ACGTacgt]{15,36}$" }
            right: { type: string, pattern: "^[ACGTacgt]{15,36}$" }
            expected:
              type: object
              required: [region, start, end]
              additionalProperties: false
              properties:
                region: { type: string, maxLength: 255 }
                start: { type: integer, minimum: 1 }
                end: { type: integer, minimum: 1 }
  PrimerError:
    description: "Handler error body. Swagger validation errors instead look like {message: 'Validation errors', errors: [{code, message, path}]}; the code INVALID_CONTENT_TYPE appears there."
    type: object
    required: [message, code]
    properties:
      message: { type: string }
      code: { type: string, description: "UPPER_SNAKE code" }
      details: { type: object, description: "code-specific; every 503 carries retry_after_s (also sent as Retry-After)" }
      errors: { type: array, items: { type: object } }
  PrimerWarning:
    type: object
    properties:
      code: { type: string }
      message: { type: string }
  PrimerBlock:
    type: object
    properties:
      start: { type: integer }
      end: { type: integer }
  PrimerGenomicLocation:
    description: "Genomic footprint; blocks are ascending and there are two or more when a cDNA primer spans an exon-exon junction"
    type: object
    x-nullable: true
    properties:
      region: { type: string }
      start: { type: integer }
      end: { type: integer }
      strand: { type: integer, enum: [1, -1] }
      blocks: { type: array, items: { $ref: "#/definitions/PrimerBlock" } }
  PrimerOligo:
    type: object
    properties:
      seq: { type: string, description: "5'->3', uppercase" }
      start: { type: integer, description: "template coordinate of the leftmost base" }
      end: { type: integer }
      len: { type: integer }
      tm: { type: number }
      gc: { type: number }
      self_any_th: { type: number }
      self_end_th: { type: number }
      hairpin_th: { type: number }
      end_stability: { type: number }
      penalty: { type: number }
      junction:
        type: object
        x-nullable: true
        properties:
          position: { type: integer, description: "junction between template bases position and position+1" }
          overlap_5p: { type: integer }
          overlap_3p: { type: integer }
      genomic: { $ref: "#/definitions/PrimerGenomicLocation" }
  PrimerDesignPair:
    type: object
    properties:
      rank: { type: integer }
      penalty: { type: number }
      product_size: { type: integer, description: "right.end - left.start + 1" }
      product_tm: { type: number, x-nullable: true, description: "Primer3 product Tm; with repeat_mask_mode n_mask, recomputed on the unmasked template (Primer3 long_seq_tm, same salts) for products covering masked bases" }
      compl_any_th: { type: number }
      compl_end_th: { type: number }
      left: { $ref: "#/definitions/PrimerOligo" }
      right: { $ref: "#/definitions/PrimerOligo" }
      product:
        type: object
        properties:
          start: { type: integer }
          end: { type: integer }
          genomic: { $ref: "#/definitions/PrimerGenomicLocation" }
          genomic_size: { type: integer, description: "transcript templates only: genomic envelope length" }
  PrimerDesignTemplate:
    type: object
    properties:
      mode: { type: string, enum: [gene, transcript, region, sequence] }
      system_name: { type: string, x-nullable: true }
      gene_id: { type: string, x-nullable: true }
      transcript_id: { type: string, x-nullable: true }
      region: { type: string, x-nullable: true }
      start: { type: integer, x-nullable: true }
      end: { type: integer, x-nullable: true }
      strand: { type: integer, x-nullable: true }
      length: { type: integer }
      seq: { type: string, description: "uppercase and unmasked; Primer3 receives the masked copy" }
      masked: { type: boolean }
      mask_source: { type: string, enum: [softmask, blast_depth, user_lowercase], x-nullable: true }
      mask: { type: array, items: { $ref: "#/definitions/PrimerInterval" } }
      masked_fraction: { type: number }
      features:
        type: object
        description: "gene: {gene, exons, cds, junctions}; transcript: {gene: null, exons, cds, junctions}; region and sequence: {}"
  PrimerDesignResponse:
    type: object
    properties:
      template: { $ref: "#/definitions/PrimerDesignTemplate" }
      pairs: { type: array, items: { $ref: "#/definitions/PrimerDesignPair" } }
      explain:
        type: object
        x-nullable: true
        description: "Primer3 explain counts {left, right, pair}, each {raw, <reason>: count}; null for template_only"
      settings:
        type: object
        properties:
          preset: { type: string, enum: [pcr, qpcr] }
          junction_spanning: { type: boolean }
          avoid_repeats: { type: boolean }
          repeat_mask_mode: { type: string, enum: [n_mask, three_prime], x-nullable: true }
          params: { type: object, description: "effective values (preset merged with the request)" }
      engine:
        type: object
        properties:
          primer3: { type: string, x-nullable: true }
      warnings: { type: array, items: { $ref: "#/definitions/PrimerWarning" } }
  PrimerGenomesResponse:
    type: object
    properties:
      system_name: { type: string }
      species:
        type: object
        x-nullable: true
        properties:
          taxon_id: { type: integer }
          name: { type: string }
      counts:
        type: object
        properties:
          total: { type: integer }
          with_blastdb: { type: integer }
          with_cdna_blastdb: { type: integer }
      genomes:
        type: array
        items:
          type: object
          properties:
            system_name: { type: string }
            display_name: { type: string }
            taxon_id: { type: integer, x-nullable: true }
            map_id: { type: string }
            is_query: { type: boolean }
            has_sequence: { type: boolean }
            has_blastdb: { type: boolean }
            has_cdna_blastdb: { type: boolean }
            repeat_masking: { type: string, enum: [soft_masked, unmasked_copy, absent] }
            total_bases: { type: integer, x-nullable: true }
            warnings: { type: array, items: { $ref: "#/definitions/PrimerWarning" } }
  PrimerCheckJob:
    description: "POST returns job_id, status, kind, queue_position, progress, estimate, created_at and warnings; GET adds partial, started_at, finished_at, attempts, request, results and error"
    type: object
    properties:
      job_id: { type: string, pattern: "^[0-9a-f]{32}$" }
      status: { type: string, enum: [queued, running, done, error] }
      kind: { type: string, enum: [specificity, pangenome] }
      partial: { type: boolean, description: "true while results holds the partial results of a running job" }
      queue_position: { type: integer, x-nullable: true }
      progress:
        type: object
        properties:
          done: { type: integer }
          total: { type: integer }
          stage: { type: string, description: "queued, reference, transcriptome, pangenome, done" }
          running: { type: array, items: { type: string } }
      estimate:
        type: object
        properties:
          cpu_s: { type: integer }
      created_at: { type: string, format: date-time }
      started_at: { type: string, format: date-time, x-nullable: true }
      finished_at: { type: string, format: date-time, x-nullable: true }
      attempts: { type: integer }
      request: { type: object, description: "normalized request (defaults filled, primers uppercased)" }
      warnings: { type: array, items: { $ref: "#/definitions/PrimerWarning" } }
      results: { $ref: "#/definitions/PrimerCheckResults" }
      error:
        type: object
        x-nullable: true
        properties:
          code: { type: string, description: "REFERENCE_BLAST_FAILED (details.cause, e.g. BLAST_TIMEOUT), NO_BLASTDB, JOB_TIMEOUT, RESULT_TOO_LARGE, WORKER_LOST, MONGO_UNAVAILABLE (mongo failed on the last attempt), CHECK_FAILED" }
          message: { type: string }
          details: { type: object }
  PrimerCheckAmplicon:
    type: object
    properties:
      region: { type: string }
      start: { type: integer, description: "5' end of the forward-facing primer site" }
      end: { type: integer, description: "5' end of the reverse-facing primer site" }
      size: { type: integer }
      strand: { type: integer, x-nullable: true }
      orientation: { type: string, enum: [LR, RL, LL, RR], description: "LR/RL: a proper pair (an identical left/right primer pair is always LR); LL/RR: one primer priming both ways" }
      likelihood: { type: string, enum: [likely, likely_weak, unlikely], description: "likely/likely_weak amplify: each primer site has at most max_amplifying_mismatches edits and is not 3'-blocked; unlikely: over the cap or 3'-blocked" }
      left_mm: { type: integer }
      right_mm: { type: integer }
      left_3p_mm: { type: integer }
      right_3p_mm: { type: integer }
      left_mm_pos: { type: array, x-nullable: true, items: { type: integer }, description: "distances from the 3' end (1 = terminal base), 5'->3'" }
      right_mm_pos: { type: array, x-nullable: true, items: { type: integer } }
      terminal_mismatch: { type: boolean }
      approx: { type: boolean, description: "true when a site was not re-aligned against the FASTA (its lower bound already exceeds max_amplifying_mismatches, or no FASTA): mismatch counts are lower bounds and mm_pos is null" }
      genes: { type: array, x-nullable: true, items: { type: object } }
  PrimerCheckResults:
    type: object
    x-nullable: true
    properties:
      engine:
        type: object
        properties:
          algorithm_version: { type: string, description: "'2': max_amplifying_mismatches stringency, overlapping primer footprints discarded, gapped sites joined from split BLAST hits" }
          blast: { type: string, x-nullable: true }
          reference: { type: string }
          pangenome: { type: string, x-nullable: true }
      params: { type: object, description: "the 8 effective check params (request params with defaults filled)" }
      reference:
        type: object
        properties:
          system_name: { type: string }
          map_id: { type: string }
          total_bases: { type: integer }
      sensitivity_note: { type: string }
      primers:
        type: object
        description: "keyed by uppercase primer sequence"
        additionalProperties:
          type: object
          properties:
            len: { type: integer }
            near_perfect_sites: { type: integer }
            repetitive: { type: boolean }
            truncated: { type: boolean }
            sensitivity: { type: object, description: "{reference: {word_size, guaranteed_max_mismatches}, pangenome?: {...}}" }
      specificity:
        type: object
        properties:
          target: { type: string, enum: [genome] }
          pairs:
            type: array
            items:
              type: object
              properties:
                id: { type: string }
                verdict: { type: string, enum: [specific, off_targets, on_target_missing, unverified_target, truncated, error] }
                on_target_inferred: { type: boolean }
                truncated: { type: boolean }
                on_target: { $ref: "#/definitions/PrimerCheckAmplicon" }
                off_target_count: { type: integer }
                unlikely_count: { type: integer }
                off_targets: { type: array, items: { $ref: "#/definitions/PrimerCheckAmplicon" } }
                unlikely: { type: array, items: { $ref: "#/definitions/PrimerCheckAmplicon" }, description: "only with params.include_unlikely" }
                gdna_products: { type: array, items: { $ref: "#/definitions/PrimerCheckAmplicon" } }
      transcriptome: { type: object, x-nullable: true, description: "transcript mode: cDNA verdicts with amplicons grouped by gene" }
      pangenome:
        type: object
        x-nullable: true
        description: "{target, pairs: [{id, reference_size, max_size, summary {genomes_total, single_perfect, single_mismatch, multiple, no_amplicon, db_unavailable, error, amplifies, truncated}, genomes: [{system_name, display_name, status, ortholog_annotated, truncated, primary, other_amplicons, others, nearest, reason?, error?}]}]}. The status counts add up to genomes_total and amplifies = single_perfect + single_mismatch + multiple; truncated counts genomes whose search hit a cap (not a status: such a genome's status is a lower bound). nearest (no_amplicon) is the best unlikely product and may be approximate."
      warnings: { type: array, items: { $ref: "#/definitions/PrimerWarning" } }
      timings_ms: { type: object }

parameters:
  q:
    name: "q"
    in: "query"
    description: "string for free text search"
    type: "string"
    required: false
  rows:
    name: "rows"
    in: "query"
    description: "number of rows to return (default: 20)"
    type: "integer"
    required: false
  start:
    name: "start"
    in: "query"
    description: "offset into results list"
    type: "integer"
    required: false
  fl:
    name: "fl"
    in: "query"
    description: "list of fields to return"
    type: "array"
    items:
      type: "string"
    required: false
  wt:
    name: "wt"
    in: "query"
    description: "response format, if `tab` is specified `fl` must also be, otherwise JSON documents returned."
    enum:
      - "json"
      - "tab"
      - "bed"
    type: "string"
    required: false
  bedFeature:
    name: "bedFeature"
    in: "query"
    description: "type of feature to export"
    type: "string"
    required: false
    default: "gene"
    enum:
      - "gene"
      - "transcript"
      - "exon"
      - "intron"
      - "CDS"
      - "utr5"
      - "utr3"
  bedCombiner:
    name: "bedCombiner"
    in: "query"
    description: "method for extracting features from multiple transcripts"
    type: "string"
    required: false
    default: "canonical"
    enum:
      - "canonical"
      - "all"
  taxon_id:
    name: "taxon_id"
    in: "query"
    description: "NCBI taxonomy id"
    type: "integer"
    required: false
  db_type:
    name: "db_type"
    in: "query"
    description: "set to core if you don't care about otherfeatures"
    type: "string"
    required: false
    enum:
      - "core"
      - "otherfeatures"
  idList:
    name: "idList"
    in: "query"
    description: "a comma separated list of document ids"
    type: "array"
    items:
      type: "string"
    required: false
  subset:
    name: "subset"
    in: "query"
    description: "subset of NCBI taxonomy"
    required: false
    type: string
    enum:
      - "gramene"
      - "compara"
      - "pan_compara"
  collection:
    name: "collection"
    in: "path"
    description: "name of collection"
    enum:
      - "genes"
      - "genetrees"
      - "maps"
      - "domains"
      - "taxonomy"
      - "GO"
      - "PO"
      - "expression"
      - "experiments"
      - "assays"
    type: "string"
    required: true
